

#wrap #cabecera * {
    /*border: solid 1px red;*/
}

#wrap #cabecera .logoCustomRIAM{ overflow:hidden; }


.comGnoss .panelAcciones div{ display:inline; margin-top:10px; margin-right:5px; }
.comGnoss .panelAcciones .btAzul{ top: 0px;}

/*DIV.navHead LABEL.btLogin{margin: -12px 14px 10px 10px}*/

#wrap #cabecera #usuarioConectadoComunidades,
#wrap #cabecera #usuarioConectadoComunidades #usuarioConectado,
#wrap #cabecera #usuarioConectadoComunidades #menuSuperiorComunidades{height:1%}
#wrap #cabecera #identidad ul li.otrasIdentidades div a{  line-height:33px; }
#wrap #cabecera #identidad ul li div.wrap a{  line-height:33px; }

#cabecera DIV.busqueda 
{
	padding-top: 30px;
}
#cabecera .busqueda .botonBuscar a 
{
	position :relative;
}

#cabecera DIV.navHead
{
	/*position:relative;
	margin-top:-30px;*/
}
/*
body.invitado #wrap #cabecera
{
	height: 138px;
}*/

body.invitado #wrap #cabecera div.logo
{
	border : 1px solid white;
}

body.invitado #wrap #cabecera div.logo
{
	margin-top:0;
}

.comGnoss #section
{
	margin-top: 40px;
}

.comGnoss #section #nav
{
	position: absolute;
	margin-top: -40px;
}

#wrap #cabecera .logoCustomRIAM p{}

	#usuarioConectadoComunidades
		#usuarioConectado
			.personal
				.item contenedor
					.opcionPrincipal
					.opcionesPanel
			
		#menuSuperiorComunidades
			.item panelBandeja
					.opcionPrincipal
					.opcionesPanel			


#wrap #cabecera #usuarioConectadoComunidades,
#wrap #cabecera #usuarioConectadoComunidades #usuarioConectado,
#wrap #cabecera #usuarioConectadoComunidades #menuSuperiorComunidades{height:1%}
#wrap #cabecera #usuarioConectadoComunidades  #panelDesplegableOpciones{}
#wrap #cabecera #identidad ul li.otrasIdentidades div a{  line-height:33px; }
#wrap #cabecera #identidad ul li div.wrap a{  line-height:33px; }
#wrap #cabecera #usuarioConectadoComunidades .desplegarOtrasIdentidades .opcionesPanel{height:1%}
#wrap #cabecera #usuarioConectadoComunidades .desplegarOtrasIdentidades .opcionesPanel ul{width:30%}


/* Menú inferior de la HOME*/ 
#conecta {
	height:225px;
	width: 925px;
}

/* Enlaces superiores*/
#cabecera DIV.navHead .links {
	width:200px;
}

#identidad ul li.otrasIdentidades div.wrap 
{
	width:120px;
}

#wrap
{
	margin-top:30px;
}
