body{margin-top:0;}

body.invitado #wrap {margin-top:10px}

#wrap #cabecera .logoCustomRIAM{ overflow:hidden; z-index:-1;}


.comGnoss .panelAcciones div{ display:inline; margin-top:10px; margin-right:5px; }
.comGnoss .panelAcciones .btAzul{ top: 0px;}

/*DIV.navHead LABEL.btLogin{margin: -12px 14px 10px 10px}*/

#wrap #cabecera #usuarioConectadoComunidades,
#wrap #cabecera #usuarioConectadoComunidades #usuarioConectado,
#wrap #cabecera #usuarioConectadoComunidades #menuSuperiorComunidades{height:1%}
#wrap #cabecera #identidad ul li.otrasIdentidades div a{  line-height:33px; }
#wrap #cabecera #identidad ul li div.wrap a{  line-height:33px; }

