/*
 *  Elementos de formularios definidos globalmente y formularios comunes.
 *  Para paginas planteadas enteramente como formularios ver plantillas.css
 */
input, select, button, textarea {
    /* Hay que especificar siempre el font-family y el font-size de estos elementos */
    font: 1em  "Lucida Grande","Lucida Sans Unicode",Helvetica, Arial, sans-serif;
	border:1px solid #A9A9AA;
	padding:3px;
	margin:2px 0;
	/**border:;*/
}

.facetas p, .facetas ul, .facetas ul li {
    display: inline;
}

select {
	padding:0 0 0 3px;
}

fieldset {
    border: 0;
}

legend {
    margin: 0;
    padding: 0;
    color: #8186BD;
    font-size: 1.1em;
}

label {
    /*cursor: pointer;*/
	color: #4C4C4C;
}

button {
    vertical-align: middle;
}

label.checkboxGlobal input {
	width:auto !important;
}
optgroup option {
    padding-left: 5px;
}

h2 select {
    font-size: 0.77em;
    margin-left: 5px;
}
h3 select {
    font-size: 0.9em;
    margin-left: 5px;
}
fieldset.campoBusqueda {
    overflow: hidden;
}
fieldset.campoBusqueda label {
    float: left;
    display: inline;
}
fieldset.campoBusqueda input {
    width: 420px;
    margin-left: 10px;
}
fieldset.campoBusqueda .btAzul {
    margin: -4px 0 0 10px;
}

fieldset.campoBusquedaPeque {
    overflow: hidden;
}
fieldset.campoBusquedaPeque label {
    float: left;
    display: inline;
}
fieldset.campoBusquedaPeque input {
    width: 260px;
    margin-left: 10px;
}
fieldset.campoBusquedaPeque .btAzul {
    margin: -4px 0 0 10px;
}
/*                                                                                           Botones
------------------------------------------------------------------------------------------------------
*/
label.boton {
    display: block;
    text-align: left;
    padding: 0 !important;
}

label.boton button,
label.boton a {
    display: inline !important;
    width: auto !important;
    border: 0;
    margin: 0;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}
label.boton a {
    float: left;
    text-decoration: none !important;
}

/* Boton azulete */
label.btAzul {
    height: 34px;
    padding-left: 15px !important;
}

label.btAzul button,
label.btAzul a {
    font-size: 11px;
    height: 34px;
    padding-right: 15px;
    color: #EFEFEF;
}
label.btAzul a {
    padding-top: 10px;
    height: 24px;
}

label.btAzul button:hover,
label.btAzul a:hover {
	color:#CACDE3;
}

/* Boton Login */
div.navHead label#botonLogin {
    background: #82849A;
}

/* Boton gris */
label.btGris {
    height: 23px;
    padding-left: 5px !important;
}

label.btGris button,
label.btGris a {
    font-size: 10px;
    height: 23px;
    padding-right: 5px;
    color: #4C4C4C;
}
label.btGris a {
	height:19px;
	padding-top:4px;
}
label.btGris a:hover {
	color:#6B6B6B;
	text-decoration:none;
}

/* Botones asociados a una linea */
.botonAsociado {
    position: relative;
    display: block !important;
    float: none !important;
    width: auto !important;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.botonAsociado label {
    position: absolute;
    right: 0;
    bottom: 0;
    /*background-color: #FFF !important;*/
    background-position: 10px 0 !important;
}
* html .botonAsociado label {
    bottom: 10px;
}
*:first-child+html .botonAsociado label {
    bottom: 10px;
}
.wrap710 .botonAsociado label,
.wrap524 .botonAsociado label {
    background-color: #F0F0F0 !important;
}
.wrap710 .busquedaDestacada .botonAsociado label, 
.wrap524 .busquedaDestacada .botonAsociado label {
	background-color:#E0E0E0 !important;
}
.botonAsociado label.btAzul {
    padding-left: 25px !important;
}
.botonAsociado label.btGris {
    padding-left: 15px !important;
    *top:  20px! important;
}

.botonera {
    overflow: hidden;
    margin: 5px 0 10px;
	height:100%;
}
.botonera label.boton {    float: left;
    display: inline;
    margin-right: 5px;
}

.botonancho .boton *{
	padding-left:10px !important;
	padding-right:10px !important;
}

.botonSubido {
	margin-top:-3px;
}

label.disabled {
	opacity:0.6;
	filter:alpha(opacity=60);
}
label.disabled button,
label.disabled a {
	cursor:default;
}

/*                                                                                   Busqueda generica
------------------------------------------------------------------------------------------------------
*/
.busquedaAv {
    background:none repeat scroll 0 0 #F5F5F5;
	border-bottom:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	margin-bottom:10px;
	overflow:visible;
	padding-bottom:18px;
	padding-left:20px;
	padding-top:30px;
}
#desplegarBusqueda a {
    position: absolute;
    bottom: 10px;
    right: 0;
    padding-right: 13px;
    background: url(../img/offAzul.gif) no-repeat 100% 50%;
}
#desplegarBusqueda a.activo {
    background-image: url(../img/onAzul.gif);
}

.busquedaAv fieldset {
	width: 459px;
}
.busquedaAv div {	width: 459px;}.checkBlogs input{	width: auto !important;	margin-right:10px !important;}
.busquedaAv fieldset.floatRight {
	width: 170px;
}

.busquedaAv .controlForm {
	clear: both;
	overflow: hidden;
	position:relative;

}
.busquedaAv label {
    display: block;
    clear:left;
    padding: 2px 0;
}
.busquedaAv fieldset.floatLeft span {
    float: left;
    display: inline;
    width: 170px;
}
.busquedaAv fieldset.floatLeft input{
    width: 278px
}
.busquedaAv select {
    width: 286px;
}
.busquedaAv .fechaDesdeHasta input {
    width: 107px !important;
}
.busquedaAv #txtHasta {
    margin-left: 6px;
}

#objetivoTagCloud {
    display: none;
    overflow: hidden;
    padding: 5px 0;
}

a.eliminarFaceta,
#contenedorFiltros a {
    color: #477CA8;
    text-decoration: none;
    height: 1.5em;
    padding-right: 22px;
    margin-right: 15px;
	background: url(../img/iconBorrar.gif) no-repeat 100% 0;
}



.menuSidebar a.eliminarFaceta
{
    padding-right: 20px;
    margin-right: 0;
    display:inline;
}

#contenedorFiltros a:hover {
	background-position: 100% -25px;
}

.busquedaAv fieldset.floatRight input {
    vertical-align: text-top;
}
.busquedaAv .boton {
    clear: none !important;
}

#indicePersonas {
    padding: 2px 0;
    height: 23px;
}
#indicePersonas div{
	width:289px;
	float:left;
	display:inline;
}
#indicePersonas a {/*****RIAM*****/
    margin-right: 3px; 
}
.busquedaAv div.camposX2 div,
.busquedaAv div.camposX3 div{
	width:289px;
	float:left;
	display:inline;
}
.busquedaAv div.camposX2 div *,
.busquedaAv div.camposX3 div * {
    margin-right: 9px;
}
.busquedaAv div.camposX2 input {
    width: 129px;
}
.busquedaAv div.camposX2 select {
    width: 137px;
}
.busquedaAv div.camposX3 input {
    width: 81px;
}
.busquedaAv div.camposX3 select {
    width: 87px;
}
.busquedaAv div.camposX2 .ultimo,
.busquedaAv div.camposX3 .ultimo {
    margin-right: 0;
}

#guardarBusqueda .desplegable {
    display: block;
    background: url(../img/sepHz.gif) repeat-x bottom;
    padding-bottom: 5px;
    text-decoration: none;
	color:#8186BD;
}
#guardarBusqueda label {
    float: left;
    display: inline;
}
#guardarBusqueda input {
    width: 200px;
    margin-right: 20px;
}
#guardarBusqueda .boton {
    margin-top: -0.3em;
}

.ui-effects-transfer {
    background:#D9D9FF;
	color:#FFF;
    opacity: 0.4;
    filter: alpha(opacity=40);
 }
/*                                                                                  Seleccionar fechas
------------------------------------------------------------------------------------------------------
*/
.selectFecha span{
	display: block;
}
.selectFecha select {
	display: inline !important;
	width: auto !important;
	margin-right: 4px;
}

/*                                                                                  Ordenar Listados
------------------------------------------------------------------------------------------------------
*/
/*div.ordenarListado {
	margin-bottom:20px;
}*/

div.ordenarListado fieldset {
    display: inline;
}

div.ordenarListado label {
	margin-right:5px;
}
div.ordenarListado img{
	vertical-align:middle;
}

/*                                                                                       filtro rapido
------------------------------------------------------------------------------------------------------
*/
.filtroRapido input {
    padding-right: 18px;
    margin-bottom: 0;
}
.filtroRapido .activo {
    background: #FFC url(../img/flechaFiltroActivo.gif) no-repeat 100% 50%;
}

.reset a
{
    cursor: pointer;
    padding-right: 20px;
	background: url(../img/icoReset.png) no-repeat 100% 0;
}

.reset a:hover 
{
	background: url(../img/icoReset2.png) no-repeat 100% 0;
	text-decoration:none;
}

/*                                                                                      Agregar campos
------------------------------------------------------------------------------------------------------
*/
.agregarCampo {
	margin:8px 0;
}
.agregarCampo input{
	margin:2px 0!important;
}


/*                                                                                      Enviar mensaje
------------------------------------------------------------------------------------------------------
*/
#redactarMensaje {
    float: right;
    display: inline;
    width: 582px;/*width: 600px;*/
}

#redactarMensaje label {
    display: block;
    clear: both;
}

#redactarMensaje input,
#redactarMensaje textarea {
    float: right;
    clear: right;
    position: relative;
    width: 520px;
}

#redactarMensaje button {
    width: 120px !important;
}

fieldset.destacadoBorde {
    padding: 15px 5px;
    margin: 10px -5px;
    border:1px solid #9296C0;
}
fieldset.destacadoBorde legend{
    font-size: 1em;
    padding: 0 5px;
}
.redactarMensaje {
    float: right;
    display: inline;
}

.redactarMensaje label {
    display: block;
    clear: both;
}
.redactarMensaje label span {
    float: left;
    margin-top: 3px;
}
.redactarMensaje input,
.redactarMensaje textarea {
    float: right;
    clear: right;
    position: relative;
    width: 510px;
}

.redactarMensaje button {
    width: 120px !important;
}

 
/*DAFO*/

#redactarMensaje.responderDafo textarea {
    position: relative;
    width: 575px;
	margin-right:16px;
}