

a img.imgAddSelector
{
	margin-top: 15px; margin-top:29px;
background-color:transparent;
background-image:url(../img/iconAnyadir.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0pt0pt;
width:18px;
height:18px;
vertical-align:text-bottom;
cursor:pointer;
}

a:hover img.imgAddSelector
{
	background-position: 0pt -25px;
}

a img.imgRemoveSelector
{
background-color:transparent;
background-image:url(../img/iconBorrar.gif);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:0pt0pt;
width:18px;
height:18px;
vertical-align:text-bottom;
cursor:pointer;
}

.Usuarios  .small  div
{
	line-height:18px;
}

a:hover img.imgRemoveSelector
{
	background-position: 0pt -25px;
}

.imagenAsociada div.divAccionFicha
{
	float: right;
	width: 20px;
	height: 50px;
	background-color: #f0f0f0;
}

div.subNav td.activoMenuMorado
{
	background-color: transparent;
	background-image: url(../img/activoSubMenu.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	display: block;
	height: 18px;
	padding: 10px 20px;
	padding-left: 10px;
}

/*div.subNav td.nav1 activoMenuMorado
{
	margin-left: 15px;
	background:transparent url(../img/bgSubNavLi.gif) no-repeat scroll left center;
}*/
div.hackMascara
{
	padding: 0 0 20px 0;
	width: 100%;
}

/*----- ADD TO GNOSS  ---------*/

.anyadir div.login
{
	width: 200px;
	margin: 10px;
}
.anyadir div.login label
{
	display: block;
}

.anyadir div.login input
{
	width: 180px;
}

.anyadir div.anyadirGnoss
{
	padding-bottom: 30px;
}


.anyadir div.anyadirBase ul
{
	margin-left: 60px;
}
.anyadir div.anyadirBase ul ul
{
	margin-left: 30px;
}

.anyadir div.anyadirBase label.btGris
{
	margin: 30px 0 30px 220px;
}

div.anyadirGnoss label
{
	display: block;
	width: auto;
}

div.anyadirGnoss input
{
	width: 640px;
}

div.anyadirGnoss textarea
{
	width: 640px;
	overflow: auto;
}

.anyadir .wrap710 .textBox p span
{
	color: inherit;
	font-size: inherit;
}

/*------------------------------*/


/*LOZA : Necesario para que las fichas se muestren correctamente (al introducir el div.hackMascara*/
.imagenAsociada div.hackMascara div.multiFuncion
{
	width: 580px;
	float: right;
	display: inline;
}
.comGnoss .imagenAsociada div.hackMascara div.multiFuncion
{
	/*width: 625px;Comentado por javier*/
	float: right;
	display: inline;
}

.pestanya .imagenAsociada div.hackMascara div.multiFuncion
{
	width: 530px; 
}
.small .desplegarEtiquetas div,
.small .desplegarEtiquetas label{display:inline-block !important;}

.small .desplegarEtiquetas div,
.small .desplegarEtiquetas label{*display:inline !important;}

.small .etiquetas div,
.small .etiquetas label{display:inline-block !important;}

.small .etiquetas div,
.small .etiquetas label{*display:inline !important;}
/*---------------------------------------------------------------------------------------------------------*/

.TipoEnlace
{
	color: #477ca8;
}

.fechaDesdeHasta input
{
	margin-left:0px;
}

.menuSidebar button,
.menuSidebar input
{
	float:left;	
	padding: 2px 0;
}


/** REGION PARA QUE SE OCULTEN LAS IMAGENES AL SALIR LOS POP-UPS  **/

.miniSnapshot, .miniSnapshot2
{
	position: relative;
	display: block;
	z-index: 0 !important;
}
/*PROBLEMA IE*/

.miniSnapshot, .miniSnapshot2
{
	position: relative;
	width: 54px;
	height: 54px;
	overflow: hidden;
}
/*PROBLEMA IE*/

.miniSnapshot a, .miniSnapshot2 a
{
	/*position: absolute;*/
	width: 54px;
	height: 54px;
	/*background: url(../img/mascFotoPerfilBlanca.png) no-repeat;*/
	top: 0;
	left: 0;
	cursor: pointer;
	/*text-indent: -100000px;*/
}

.miniSnapshot2 a
{
	position: absolute;
	width: 54px;
	height: 54px;
	/*background: url(../img/mascFotoPerfilOscura.png) no-repeat !important;*/
	top: 0;
	left: 0;
	cursor: pointer;
	text-indent: -100000px;
}


/*.miniSnapshot a {
	position:absolute;
	width:54px;
	height:54px;
	background:url(../img/mascFotoPerfil.png) no-repeat;

	left:0;
	cursor:pointer;
	text-indent:-100000px;
	
}*//*PROBLEMA IE*/


/** Fin region **/

/* LOZA : Arreglo de mascara en popups oscuros para IE6;
.capaModal .mascara
{ *position:absolute!important;
*top:0px;
*left:0px;
}
#capaModal .mascara
{ *position:absolute!important;
*top:0px;
*left:0px;
}
-------------------------------------------------------*/


/*LOZA : Arreglo para mostrar bien las fichas en la pantalla de usuarios*/
/* MIGUEL: Removido, lo estropea. */
/*.myGnoss .wrap710 h2
{ *margin:0px!important;
*margin-bottom:0px!important;
}
.myGnoss h2
{ *margin-bottom:0px!important;
*width:665px;
}

#ctl00_CPH1_listadoUsuariosUsu
{ *width:665px;
*margin:0px;
}
#ctl00_CPH1_listadoUsuariosEdit
{ *width:665px;
*margin:0px;
}
#ctl00_CPH1_listadoUsuariosAdm
{ *width:665px;
*margin:0px;
}*/


/*--------------------------------------------------*/

/*LOZA : para mostrar botones de invitacion en IE6*/
.contactos .imagenAsociada div.funciones label, .invitaciones .imagenAsociada div.funciones label
{ position:relative!important;
}
/*--------------------------------------------------------------------------*/



/*LOZA : Estilo para mostrar bien el tiny cuando se redacta un mensaje*/
#redactarMensaje .mceEditor
{
	clear: right;
	float: right;
	position: relative;
	width: 460px;
	margin-right: 8px;
}
/*----------------------------------------------------------------------*/




/*LOZA : Estilo para mostrar bien los contenidos editados desde el tiny*/

.TextoTiny
{
	/*overflow: hidden;*/ /* Miguel: Problema si se activa en Ficha Recurso, no rodea la imagen */
}

.TextoTiny ul
{
	list-style-image: none;
	list-style-position: inside;
	list-style-type: disc;
}
.TextoTiny ul li
{
	overflow:visible;
	background: none;
	margin-bottom: 0px;
	margin-left: 30px;
	padding-bottom: 5px;
}
.TextoTiny ol
{
	list-style-image: none;
	list-style-position: inside;
	list-style-type: decimal !important;
}
.TextoTiny ol li
{
	overflow:visible;
	background: none;
	margin-bottom: 0px;
	margin-left: 30px;
	padding-bottom: 5px;
}

.TextoTiny h1 a
{
	background:none;
}

.myGnoss div.loginCom fieldset
{
	width: 280px;
	padding-bottom: 30px;
}

.myGnoss div.loginCom
{
	width: 365px;
}

.myGnoss div.loginCom input
{
	width: 250px;
}
.myGnoss div.loginCom label#loginComunidad
{
	margin-top: 51px;
}
.myGnoss div.botonesLogin
{
	float: right;
	display: inline;
	width: 200px;
	margin-top: 20px;
	text-align: right;
}

.myGnoss p.botonesLogin
{
	float: left;
	width: 440px;
	display: inline;
	margin-top: 20px;
}

.gnoss div.loginCom fieldset
{
	width: 280px;
	padding-bottom: 30px;
}

.gnoss div.loginCom
{
	width: 365px;
}

.gnoss .textBox div.loginInvitacion
{
	width: 420px;
}

.gnoss div.loginCom input
{
	width: 250px;
}
.gnoss div.loginCom label#loginComunidad
{
	margin-top: 51px;
}
.gnoss div.botonesLogin
{
	float: right;
	display: inline;
	width: 200px;
	margin-top: 20px;
	text-align: right;
}

.gnoss p.botonesLogin
{
	float: left;
	width: 440px;
	display: inline;
	margin-top: 20px;
}

/*---------------------------------------------------------------------*/



/*JAVIER : Capa blanca que ocupa la pagina para no poder interactuar mientras sale el updateprogress (relojillo)*/
#mascaraBlanca
{
	background: transparent none repeat scroll 0 0;
	left: 0;
	opacity: 0.0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2000;
}

ul.descargarArchivosPlantilla
{
    z-index: 10;
    top: 0;
    font-size: 0.9em;
    text-align: left;
    margin-top: 1px;
    background: #E6E6E6;
    padding: 5px 10px 10px;
    border: 1px solid #D9D9D9;
}

li.descargarArchivosPlantilla
{
	padding-bottom: 2px;
    border-bottom: 1px solid #D9D9D9;
    margin: 0 0 2px 0 !important;
    background: none !important;
    overflow: visible !important;
}

div.descargarArchivosPlantilla
{
	position: relative;
    float: right !important;
    display: inline;
    width: auto !important;
}
/*---------------------------------------------------------------------------------------------------------------*/




/*LOZA : Estilo para mostrar el redondeado de las fotos del perfil en las panallas de enviar invitaciones*/
.listaContactos span.fotoPerfil a /*, .miniSnapshot a */
{
	/*background: transparent url(../img/mascFotoPerfilClara.png) no-repeat scroll 0%;*/
}
/*--------------------------------------------------------------------------------------------------------*/


/*LOZA : Estilo para mostrar correctamente las fichas selector identidades en invitaciones y permitir ocultarlas con javascript*/

div.pestanyaContactos .listaContactos
{
	margin: 15px 0pt 0pt 5px;
	width: 290px;
	min-height: 100px;
	float: left;
}

flotarLeft
{
	float: left;
}

div.pestanyaContactos .contactos div.floatLeft
{
	width: 220px;
}

div.flotarLeft img
{
	float: left;
}

/*--------------------------------------------------------------------------------------------------------------*/


/*LOZA : Estilo para mostrar redondeado grande en las paginas de inicio de comunidad*/
span.fotoPerfilGrande
{
	display: block;
	position: relative;
	height: 150px;
	width: 150px;
}
span.fotoPerfilGrande img
{
	height: 150px;
	width: 150px;
}
span.fotoPerfilGrande a
{
	/*background: transparent url(../img/mascFotoPerfilGrande.png) no-repeat scroll 0%;*/
	height: 150px;
	width: 150px;
	position: absolute;
	text-indent: -10000px;
	top: 0pt;
	left: 0pt;
}
/*-----------------------------------------------------------------------------------*/


/*LOZA : Estilo para mostrar divs como si fuesen listas para lso avisos legales en IE*/
div.imitaLista
{
	padding-left: 20px;
	margin: 5px 0px 5px 40px;
	background: url(../img/dotListadoGris.gif) no-repeat left 5px;
}
/*----------------------------------------------------------------------------------*/




/*Loza : Prueba para horizontal menu mejor*/
/*
<div class="MenuLoza">
<table cellspacing="0" cellpadding="0"><tbody><tr><td>
<div class="PastillaMenuLoza"><a href="">Texto Pastilla</a></div>
<div class="PastillaMenuLoza"><a href="">Texto Pastilla2</a></div>
<div class="PastillaMenuLoza"><a href="">Texto Pastilla4</a></div>
<div class="PastillaMenuLoza"><a href="">Texto Pastilla5</a></div>
<div class="PastillaMenuLoza"><a href="">Texto Pastilla6</a></div>
<div class="PastillaMenuLoza"><a href="">Texto Pastilla7</a></div>
<div class="PastillaMenuLoza"><a href="">Texto Pastilla8</a></div>
</td></tr></tbody></table>
</div>

.MenuLoza
{
	width:700px;
	background:transparent url(../img/bgSubMenu.gif) repeat-y scroll center 1px;
	padding: 0px 5px;
}

.PastillaMenuLoza
{
	float:left;
	height:38px;
	background-image:url(../img/bgSubNavLi.gif);
	background-repeat:no-repeat;
	background-position:left center;
	display:table;
	text-align:center;
	padding-left:10px;
}

.MenuLoza .PastillaMenuLoza a
{
	display:table-cell;
	vertical-align:middle;
	background-image:url(../img/activoSubMenu.gif);
	background-repeat:no-repeat;
	background-position:right center;
	color:White;
	padding-right:10px;
}






.MenuLoza
{
	width:700px;
	background:transparent url(../img/bgSubMenu.gif) repeat-y scroll center 1px;
	padding: 0px 5px;
}

.PastillaMenuLoza
{
	float:left;
	background-image:url(../img/bgSubNavLi.gif);
	background-repeat:no-repeat;
	background-position:left center;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	width:100px;
}

.PastillaMenuLoza div
{
	height:38px;
	display:table;
	float:left;
	background-image:url(../img/activoSubMenu.gif);
	background-repeat:no-repeat;
	background-position:right center;
	width:100px;
}

.MenuLoza .PastillaMenuLoza a
{
	display:table-cell;
	vertical-align:middle;
	color:White;
	
	*line-height:19px;
}

.MenuLoza .PastillaMenuLoza a:hover {
color:#D5D6DD;
text-decoration:none;
}


/*
<div class="MenuLoza">
<table cellspacing="0" cellpadding="0"><tbody><tr><td>
<div class="PastillaMenuLoza"><div><a href="">Texto Pastilla</a></div></div>
<div class="PastillaMenuLoza"><div><a href="">Texto Pastilla2</a></div></div>
<div class="PastillaMenuLoza"><div><a href="">Texto Pastilla4</a></div></div>
<div class="PastillaMenuLoza"><div><a href="">Texto Pastilla5</a></div></div>
<div class="PastillaMenuLoza"><div><a href="">Texto Pastilla659824567J.L.</a></div></div>
<div class="PastillaMenuLoza"><div><a href="">Texto Pastilla7</a></div></div>
<div class="PastillaMenuLoza"><div><a href="">Texto Pastilla8</a></div></div>
</td></tr></tbody></table>
</div>
*/
/*------------------------------------------------------------------------------------*/


/**/
#nuevoBlog div.addCategoria 
{
	width:500px;
}
#nuevoBlog .anyadirCategorias label
{
	display:inherit;
}

#nuevoBlog .anyadirCategorias span label
{
	*display:inline;
}

/**/

/**/
.blogOpciones .anyadirCategorias label
{
	display:inherit;
}
/**/

/*-----------------------------------------------------------------------------------*/


/*Castillo : para que en las paginas de editar perfil los radiobuton no cojan ningun estilo e*/
#panSeleccionarCaducidadResulSusc input
{
	 width: auto !important;
}

#panSeleccionarCaducidadResulSuscProfesional input
{
	 width: auto !important;
}

/*----------------------------------------------------------------------------------*/

/**/
.explicacion
{
	color:#8186BD;
	margin: 5px 0px;
}
/**/

/*Estilos del selector de categorias en javascript*/
div#divSelCatTesauro label
{
	margin-left:5px;
}
div#divSelCatLista label
{
	margin-left:5px;
}
/*------------------------------------------------*/

/*LOZA : Estilos para las fichas de solicitudes en administrar miembros de la comunidad*/
div.ContenedorFichasSolicitudes
{
	padding:10px !important;
}
div.ContenedorFichasSolicitudes .listaContactos
{
	float:left;
	margin:15px 0pt 0pt 5px;
	min-height:100px;
	width:315px;
}

div.ContenedorFichasSolicitudes .listaContactos input.floatLeft
{
	margin-right:5px;
}

div.ContenedorFichasSolicitudes .listaContactos div
{
	width:240px;
}

/*-------------------------------------------------------------------------------------*/



/*Estilos para mostrar bien las fichas de miembros de comunidad en la pantalla de administrar miembros de la comunidad*/
.contendorFichasMiembros div.listaContactos
{
	float:left;
	display:block;
	width:310px;
	margin-right:20px;
	min-height:100px;
}

.contendorFichasMiembros div.listaContactos div.clear
{
	display:inline;
}

.contendorFichasMiembros div.listaContactos h3
{
	background:transparent url(../img/sepHz.gif) repeat-x scroll center bottom;
	padding-top:0px;
}

.contendorFichasMiembros div.listaContactos h3 a:hover
{
	text-decoration:none;
}

.contendorFichasMiembros div.listaContactos div.editarElemento img
{
	float:none;
}

.contendorFichasMiembros div.listaContactos span span.fotoPerfil
{
	float:left;
	margin-top:10px;
}

.contendorFichasMiembros div.listaContactos span span.fotoPerfil a
{
	/*background:transparent url(../img/mascFotoPerfil.png) no-repeat scroll 0%;*/
	cursor:pointer;
	height:54px;
	left:0pt;
	position:absolute;
	text-indent:-100000px;
	top:0pt;
	width:54px;
}

.contendorFichasMiembros div.listaContactos div.floatLeft
{
	width:215px;
	margin:10px 0px 0px 10px;
}

.contendorFichasMiembros div.listaContactos div.hackMascara
{
	display:block;
	float:left;
	padding:0pt 0pt 40px;
	width:100%;
}


.autocomplete-load
{
	background: window url( '../img/indicator.gif' ) no-repeat scroll right center;
}

.listaAutocomplete
{
	margin: 0px;
	z-index: 1002;
	text-align: left;
}

.listaAutocomplete li
{
	padding: 1px 0px 1px 2px;
	list-style-type: none;
	border-top: solid 1px #CCC;
	cursor: pointer;
	background-image:none !important;
}

.listaAutocomplete li:hover
{
	background-color: #ffc000;
}

.listaAutocomplete li.achover
{
	background-color: #ffc000;
}

.listItem
{
	background-color: #ffffff !important;
}

.itemHighlighted
{
	background-color: #ffc000 !important;
	font-weight: bold;
} 
	 
.listaAutocompleteALaDerecha
{
	/*left:970px !important;
	top:inherit !important;
	width: 250px !important;*/
}

/*--------------------------------------------------------------------------------------------------------------------*/

/*
	CLASE PARA PODER MOSTRAR BOTONES ANCHOS EN LAS MASCARAS CANCELAR DE COMUNIDADES
*/
label.botonlargoMascara
{
	background:transparent url(../img/btAzulIzq.png) no-repeat scroll 0 0 !important;
}

label.botonlargoMascara a
{
	background:transparent url(../img/btAzulDer.png) no-repeat scroll 100% 0 !important;
}

/*IMAGEN DE GNOSS DEL PIE EN LAS COMUNIDADES*/
a.enlaceGnossPieComunidades
{
	width:87px;
	height:26px;
	display:block;
	margin-left:40px;
}
/*------------------------------------------*/

/* LISTA DE FACTORES VINCULADOS (HIJOS)*/
ul.listadoFactoresHijos li
{
	padding : 0px;
}
ul.listadoFactoresHijos ul
{
	padding : 5px 15px;
}
/**/


/*Estilo para que el contenido de los documentos no sobrepase la anchura cuando se muestran en dos columnas (inicio de la comunidad)*/
div.contenedor355  div.TextoTiny
{
	width:250px;
	overflow:hidden;
}

/**/
div.EstadoDafo0
{
	width:31px;
	height:31px;
	background-image:url('../img/EstadoDafo0.png');
}
div.EstadoDafo1
{
	width:31px;
	height:31px;
	background-image:url('../img/EstadoDafo1.png');
}
div.EstadoDafo2
{
	width:31px;
	height:31px;
	background-image:url('../img/EstadoDafo2.png');
}
div.EstadoDafo3
{
	width:31px;
	height:31px;
	background-image:url('../img/EstadoDafo3.png');
}
/**/


div.panelOcultar
{	
    padding: 8px 0pt 0pt;
}

.SinBottom p
{
	margin-bottom: 0 !important;
}

span.SpanFoto35
{
	height: 35px;
	width: 35px;
	float: left;
	margin-right: 10px;
	text-align: center;
	position: relative;
	display: inline;
}

.SpanFoto35 a
{
	height: 35px;
	width: 35px;
	cursor: pointer;
	position: absolute;
	left: 0pt;
	top: 0pt;
}

div.Live235
{
	width: 235px;
	float: left;
}

div.Live278
{
	width: 278px;
	float: right;
	overflow: hidden;
}

div.Live325
{
	width: 325px;
	float: right;
	overflow: hidden;
}

div.sepLive
{
	border-bottom:1px solid #e2e2e2; 
	margin-top:8px;
}

/***** REGION SELECTOR CATEGORIAS BUSQUEDAS (BY JAVIER)  *****/

div.selectorCatBusqueda
{
	border: 1px solid rgb(169, 169, 170);
	position: absolute;
	background: none repeat scroll 0pt 0pt rgb(255, 255, 255);
	z-index: 2000;
	width:615px;
}

div.selectorCatBusqueda span
{
	float:none !important;
	width:auto !important;
}

div.selectorCatBusqueda *
{
	width:auto !important;
}

div.selectorCatBusqueda label, input
{
	/*clear:both !important;*/
}

div.selectorCatBusqueda label
{
	display: inline !important;
}


div.selectorCatBusqueda #divSelCatTesauro
{
	padding-top:2px;
	padding-bottom:2px;
}

div.selectorCatBusqueda label.btAzul
{
	display: block !important;
	float:right;
	margin-right:50px;
}

a.CatBusquedaLimpiarCerrar
{
	display: inline;
	color: rgb(221, 221, 255);
	cursor: pointer;
	margin-left: 15px;
}

#contenedorFiltrosCategorias a, #contenedorFiltrosCatDocumentacion a {
    float: left;
    color: #477CA8;
    text-decoration: none;
    height: 1.5em;
    padding-right: 22px;
    margin-right: 15px;
	background: url(../img/iconBorrar.gif) no-repeat 100% 0;
}
#contenedorFiltrosCategorias a:hover, #contenedorFiltrosCatDocumentacion a:hover {
	background-position: 100% -25px;
}

/* Para el selector de categorias de tesauro de la página nuevo articulo de blog */
.nuevoArticuloBlog .capaModal input
{
	width: auto !important;
}
.nuevoArticuloBlog .capaModal label
{
	display: inherit;
}

.bottom10
{
	margin-bottom: 10px !IMPORTANT;
}

.top10
{
	margin-top: 10px !IMPORTANT;
}

.left10
{
	margin-left: 10px !IMPORTANT;
}

.right10
{
	margin-right: 10px !IMPORTANT;
}

.top0
{
	margin-top: 0 !IMPORTANT;
}

.padtop0
{
	padding-top:0 !IMPORTANT;
}

.padbottom0
{
	padding-bottom:0 !IMPORTANT;
}

.right5
{
	margin-right: 5px !IMPORTANT;
}

.top20
{
	margin-top: 20px !IMPORTANT;
}

.bottom20
{
	margin-bottom: 20px !IMPORTANT;
}

.top5
{
	margin-top: 5px !IMPORTANT;
}

.widthauto
{
	width: auto !IMPORTANT;
}

/********* END REGION SELECTOR CATEGORIAS BUSQUEDAS  *********/

.LandingEducaExp #section
{
	min-height: 560px;
}

.LandingUni20 #section
{
	min-height: 750px;
}

table.radioButton input
{
	width: auto !important;	
	margin-right: 10px;
	float:left;
}
table.radioButton label
{
	display: inline !important;
	float:left;
}

span.checkBox input
{
	width:auto !important;
	margin-right:5px;
	margin-bottom:0 !important;
}

span.checkBox label
{
	display: inline !important;
}

.comGnoss h1 a
{
	height:33px;
	left:15px;
	top:30px;
	width:143px;
}

.ayudaTextBox
{
	font-size:0.92em;
	margin-top:-10px;
	margin-bottom:10px;
}

.azul
{
color:#8186BD;
}

.negrita
{
font-weight:bold;
}

.miniTitulo
{
color:#8186BD;
font-weight:bold;
margin-left: 30px;
}

h1 a.imgEducaExp
{
	height:65px;
	left:10px;
	top:7px;
	visibility:visible;
	width:145px;
	z-index:8000;
}

.contenedorContexto
{
	display: inline ! important;
	margin-left: 15px;
	margin-bottom: 10px;
	/*border: 1px solid rgb(169, 169, 170);*/
	padding: 5px;
}

.privado54 a
{
	background-image:url(../img/iconos/privado54.gif);
}

.privado35 a
{
	background-image:url(../img/iconos/privado35.gif);
}

.privado120 a
{
	background-image:url(../img/iconos/privado120.gif);
}


/*Comentario y recursos vinculados de la ficha de un recurso*/
/*
.dosCols .imagenAsociada div
{
	width:270px;
}
.dosCols .imagenAsociada.comentarios div
{
	width:310px;
}
.indiceCom .dosCols .imagenAsociada div
{
	width:350px;
}*/

.dosCols .karmaPolicePeque div
{
	width:15px !important;
}

.dosCols .karmaPolicePeque span
{
	width:15px !important;
}


/*   ********************************                       */

#PanelRecursosRelacionados
{

}

#PanelRecursosRelacionados div.recurso
{
	width: 120px;
	float: left;
	text-align: center;
	height : 90px;
}

#PanelRecursosRelacionados div.recurso img
{
	height: 52px;
}

#BotonAnterior
{
	float:left; 
	margin-top: 20px;
}

#BotonSiguiente
{
	float:right; 
	margin-top: 20px;
}

#BotonAnterior.deshabilitado
{
	cursor:default;
}

#BotonSiguiente.deshabilitado
{
	cursor:default;
}

.transparencia{
	/*background:url("../img/transparencia040.png") repeat scroll center bottom transparent;
	height:30px;
	position:relative;
	margin-top:-30px;*/
	/*overflow:hidden;
	top:310px;*/
}

.nobackground
{
	background: none !IMPORTANT;
}

.panelAcciones div
{
	display:inline-block;
	*display:inline;
}

li.NumElementNuevos
{
	color:White;
	padding: 2px 0 0 2px !IMPORTANT;
	width:auto !IMPORTANT;
	*margin-top:10px;
}

.avisoRojo{background:red; margin-left:5px; top:2px; color:#fff; font-weight:bold; right:0; padding:0 2px; font-size:10px;  -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px}

.avisoRojoFlotante{background:red; position:absolute; top:2px; color:#fff; font-weight:bold; right:10; /**right:-8px;*/ padding:0 2px; font-size:10px;  -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px}

.avisoGris{background:grey; margin-left:5px; top:2px; color:#fff; font-weight:bold; right:0; padding:0 2px; font-size:10px;  -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px}

.cajaLicencia{background: none repeat scroll 0 0 #EEEEEE; padding: 1em; width: 605px;}

div.cajaLicencia p{font-weight: bold;}

div.cajaLicencia label{display: inline !IMPORTANT;}

.propIntelectual{padding:5px 20px; background:none repeat scroll 0 0 #82849A;}

small.datosMyGnoss  p{margin-bottom:0;}

#configuradorPlantilla {
    clear: right;
    background: #FFF url(../img/sepVt.gif) repeat-y 10px 0;
    padding: 5px 0;
}

#configuradorPlantilla h4 {
    padding: 0;
}

#configuradorPlantilla h5 {
    margin-left:-10px;
}

#configuradorPlantilla input.edicionTexto {
    margin-left:15px;
    width:300px;
}

#configuradorPlantilla div.seccion {
    margin-top:30px;
    padding-left:10px;
}

h2.subirRecurso
{
	width:635px;
}

/*   Encuestas         */

.encuesta
{
	width:100%;	
}

.encuestaFila
{
	position:relative;
	padding:5px;	
	background-color:#F5F5F5;
}

.encuestaFilaOculta
{	
	border-width:1px;
	position:relative;
	padding:5px;	
}

.encuestaSombra
{
	background-color:#D9D9D9;
	height:100%;
	position:absolute;	
	top:-1px;
	left:-1px;
}
 
.encuestaRespuesta
{
	position:relative;
}

.encuestaCheck
{
	width:20px;
}

/* facetas */
.faceta ul.visualizacion{text-align:right}
.faceta ul.visualizacion li{display:inline}
/*++++*/


.no-utilizar-1{position:relative}
#section .no-utilizar-1 .no-utilizar-2{position:absolute; width:380px; min-height:280px; display:block !important; top:-180px; left:-20px}
.relatedInfoWindow p,
.relatedInfoWindow li{margin:0; color:#747474; font-size:11px; font-family:"Lucida Sans", Lucida Grande, Lucida Sans Unicode,Helvetica,sans-serif}
.relatedInfoWindow li{margin-bottom:6px;}
.relatedInfoWindow p.poweredby{text-align:right; height:25px; line-height:25px; }
.relatedInfoWindow p.poweredby a{height:25px; line-height:25px; background:url('../img/spriteInfoWindow.png') no-repeat 0 3px; width:60px; display:block; position:relative; float:right; overflow:hidden;}
.relatedInfoWindow p.poweredby a strong{position:absolute; left:-9999em; top:-999em}	
.relatedInfoWindow,
.relatedInfoWindow div{display:block !important}
.relatedInfoWindow{padding:0 10px 10px; background:#F5F5F5}
.relatedInfoWindow div.wrapRelatedInfoWindow{background:white; padding:9px; border:1px solid #ddd; margin-bottom:4px}
.relatedInfoWindow span.moreInfo{display:block}
.relatedInfoWindow p.titulo{margin-bottom:6px}
.relatedInfoWindow p.resource{height:30px; line-height:30px; margin-bottom:-6px}
.relatedInfoWindow p.resource,
.relatedInfoWindow ul{padding-left:36px}
.relatedInfoWindow p.resource{background:url('../img/spriteInfoWindow.png') no-repeat 0 0}
.relatedInfoWindow .newYorkTimes p.resource{background-position:0 -70px}
.relatedInfoWindow .freeBase p.resource{background-position:0 -105px}
.relatedInfoWindow .moreInfo a{background:url('../img/spriteInfoWindow.png') no-repeat 0 0; padding-left:20px}
.relatedInfoWindow .moreInfo a.dbpedia{background-position: 0 -149px}
.relatedInfoWindow .moreInfo a.wikipedia{background-position: 0 -176px}
.relatedInfoWindow .moreInfo a.geonames{background-position: 0 -200px}

:first-child + html body .menuSidebar .header{
	height: 100% !important
}

.mgNovedades .listado li.t041 span.icono{width:44px; background:none;}
.mgNovedades .listado li.t021 span.icono{width:44px;background:none;}


#wrap.tutorial{
    font-size: 115%;
}


#wrap.tutorial #sidebar
{
    width:200px;
}

.tutorial ul.listadoAcerca
{
    list-style: disc;
    padding-left: 27px;
    padding-top: 15px;
}

.tutorial ul.listadoAcerca li
{
    padding-right: 27px;  
    padding-left: 0px; 
    background: none;
}

label.boton a.ocultoImportant
{
    display: none !important;
}