.widget-usuario-gnoss {
    min-width: 220px;
}
.widget-usuario-gnoss * {
    color: #555555;
    font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
    font-size: 13px;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}
.widget-usuario-gnoss h3 {
    color: #333333;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.widget-usuario-gnoss a {
    color: #8186BD;
}
.widget-usuario-gnoss {
    background: none repeat scroll 0 0 #D9DBF7;
    padding: 10px 10px 5px;
}
.widget-usuario-gnoss .wrap-widget-usuario-gnoss {
    background: none repeat scroll 0 0 white;
    border-radius: 3px 3px 3px 3px;
    padding: 10px;
}
.widget-usuario-gnoss .widget-usuario-head-gnoss {
}
.widget-usuario-gnoss .widget-usuario-body-gnoss {
}
.widget-usuario-gnoss .widget-usuario-foot-gnoss {
}
.widget-usuario-gnoss .widget-usuario-head-gnoss {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.widget-usuario-gnoss .widget-usuario-head-gnoss p.imagen-usuario-gnoss {
    border: 1px solid #EEEEEE;
    float: left;
    height: 35px;
    margin-right: 10px;
    width: 35px;
}
.widget-usuario-gnoss .widget-usuario-head-gnoss p.imagen-usuario-gnoss img {
    display: block;
    width: 100%;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss {
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 6px;
    padding-bottom: 6px;
    padding-left: 45px;
    position: relative;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss h4 {
    margin-bottom: 10px;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss p {
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss p.resourceType {
    height: 35px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 35px;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss .resourceType span {
    left: 999em;
    position: absolute;
    top: 999em;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss .resourceType a {
    background: url("resources/spriteIcons.png?v=2.1.1880") no-repeat scroll 0 -599px transparent;
    display: block;
    font-size: 100%;
    height: 35px;
    text-indent: -999em;
    width: 100%;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss .resource-list .publicacion {
    color: #555555;
    font-size: 11px;
    line-height: 1.4;
    margin: 2px 0;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss .resourceType.hipervinculo a {
    background-position: 0 -599px;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss .resourceType.digital a {
    background-position: 0 -638px;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss .resourceType.blog a {
    background-position: 0 -675px;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss .resourceType.nota a {
    background-position: 0 -714px;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss .resourceType.video a {
    background-position: 0 -754px;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss .resourceType.newsletter a {
    background-position: 0 -791px;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss .resourceType.imagen a {
    background-position: 0 -791px;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss .resourceType.wiki a {
    background-position: 0 -867px;
}
.widget-usuario-gnoss .widget-usuario-body-gnoss .resource-gnoss .resourceType.documento a {
    background-position: 0 -907px;
}
.widget-usuario-gnoss .widget-usuario-foot-gnoss p {
    padding: 5px 0 0;
    text-align: right;
}
.widget-usuario-gnoss .widget-usuario-foot-gnoss p span {
    background: url("resources/spriteWidgetGnoss.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 15px;
    overflow: hidden;
    text-indent: 999em;
    width: 60px;
}
:first-child + html .widget-usuario-gnoss .widget-usuario-foot-gnoss p span {
    display: inline;
}
.widget-usuario-gnoss .widget-usuario-foot-gnoss p.white span {
    background-position: 0 -25px;
}
.widget-usuario-gnoss .widget-usuario-foot-gnoss p.white a {
    color: #FFFFFF;
}
.widget-usuario-gnoss .widget-usuario-foot-gnoss p.grey span {
    background-position: 0 -50px;
}
.widget-usuario-gnoss .widget-usuario-foot-gnoss p.grey a {
    color: #888888;
}
.widget-usuario-gnoss div:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html .widget-usuario-gnoss div {
    height: 1%;
}
:first-child + html .widget-usuario-gnoss div {
}
