/*                                                                                                Home
------------------------------------------------------------------------------------------------------
*/

.loginPanel div.ko {
    color: #FFFAA5;
}

#section.home {
	padding:0 15px 0px 25px; 
	margin-right:0;
    width:930px;
}

#section.home .tagCloud {
	background:none;
	text-align:left;
	padding:10px 5px 20px 0;
}
#section.home .tagCloud,
#conecta li h2{
	border:0;
}
#section.home .tagCloud a,
#dias li a {
	padding-right:5px;
}
#section.home .tagCloud a,
#destacados li, 
#vistos li .texto,
#usuarios li img,
#activos li .usuarios
#dias li {	
	display:inline;
}

#menuBienvenida h2,
#section.home h2 {
	font-size:1.5em;
	font-weight:normal;
	background:none;
}
#section.home li.ver {
	border-left:#a0a0a0 2px solid;
	padding-left:5px;
}
#destacados {
	margin-bottom:40px;
}
#destacados,
#dias li a {
	font-size:0.9em;
}
#destacados li {
	padding:0px 18px 0 0;
}
#destacados #activos li {
	padding:10px 10px 0 0;
	width:220px;
}

#destacados #otrosusuarios li {
	padding:10px 10px 0 0;
}
#destacados li, 
#comunidades.tagCloud,  
#vistos li .texto,
#usuarios li img,
#dias li,
#conecta li {
	float:left;
}
#destacados li h2 {
	margin-bottom:0;
	border-bottom:0 !important;
}
#comunidades {
	width:300px;
	padding:20px 20px 20px 30px;
	height:330px;
}
#comunidades, 
#recursos,
#conecta {
	background:#f0f0f0;	
	overflow:auto;
}
#comunidades,
#recursos,
#usuarios {
	border-top:2px solid #DDDDDD;
}

#comunidades h3{
	font-size:1.33em;
}

#destacados #recursos .transparencia
{
	background: url("../img/transparencia040.png") repeat scroll center bottom transparent;
    height: 40px;
    margin-top: 35px;
    position: absolute;
    width: 210px;
    margin-left:58px;
    *margin-left:-200px;
}

#destacados #comunidades .transparencia
{
	background: url("../img/transparencia040.png") repeat scroll center bottom transparent;
    height: 40px;
    margin-top: -40px;
    position: absolute;
    width:300px;
}

#destacados #usuarios .usuario
{
	max-height: 35px;
	overflow: hidden;
}

#comunidades h3,
#destacados h4,
#dias li.destacado {
	font-weight:bold;
}

#comunidades img.floatLeft {
	padding:10px 5px 20px 0;
}
#comunidades.tagCloud {
	width:160px;
}
#comunidades.tagCloud,
#destacados .botones li {	
	margin-top:15px;
}
#destacados .botones, 
#comunidades p, 
#etiquetas {
	clear:left;
}
#destacados .botones li {
padding-top:0;
}

#recursos {
	width:270px;
	padding:20px 5px 20px 25px;
	height:330px;
}

.pag_recurso{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
#recursos .contenedor{
	position: relative;	
}
#recursos .botones
{
	position:absolute;
	margin-top:300px;
}

#recursos .botones a
{
	background: url("../img/boton.gif");   
	float:left;
	width:7px;
	height:7px;
}

#recursos .botones .active a
{
	background: url("../img/botonGrande.gif");   
	width:10px;
	height:10px;
}

#recursos .active
{
	z-index:2; 
}



.pag_comunidades{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
#comunidades .contenedor{
	position: relative;	
}
#comunidades .botones
{
	position:absolute;
	margin-top:300px;
}

#comunidades .botones a
{
	background: url("../img/boton.gif");   
	float:left;
	width:7px;
	height:7px;
}

#comunidades .botones .ver a
{
	background: none;   
	float:left;
	width:auto;
	height:auto;
}

#comunidades .botones  a.active
{
	background: url("../img/botonGrande.gif");   
	width:10px;
	height:10px;
}

#comunidades .active
{
	z-index:2; 
}

#usuarios {
	width:225px;
}

#vistos li {
	padding:0;
	height:75px;
}

#conecta {
	padding:30px 0 50px 50px; 
	margin:30px -15px 0 -25px;
}

#conecta li {
	width:220px;
	padding-right:30px;
}	

#menuBienvenida div
{
	width:130px;
	padding-left:10px;
}


#conecta li.comunidad {
	width:180px;
}
#menuBienvenida h2,
#conecta li h2 {
	color:#4A4C6C;
	padding:0 !important;
	margin:0 !important;
}
#conecta li p {
	font-size:1.16em;
}
#conecta li a,
div.lostLink a.login {
	text-decoration:underline;
}

.home a.btAprende {
	width:85px;
	height:50px;
	background: url(../img/btAprende.gif) no-repeat right;
	float:right;
	display:inline;
	cursor:pointer;
	color:#FFF;
	font-size:0.77em;
	padding:33px 10px;
	text-align:center;
}
.home .destacado a:hover {
	text-decoration:none;
} 
#tarjetaLeft, 
#tarjetaRight {
	background:url(../img/tarjetaHome.png) no-repeat;
	width:262px;
	height:218px;
	padding:15px 40px 0 40px;
	margin-bottom:30px;
}

#tarjetaLeft h2,
#tarjetaRight h2 {
	background: url(../img/sepHz.gif) repeat-x bottom;
	padding:17px 0 4px 0;
	margin:0 0 10px 0 !important;
	display:block;
}

/* hack */
* html #tarjetaLeft label.boton,
* html #tarjetaRight label.boton {
    background-image: url(../img/btHomeIE6Izq.gif);
}
* html #tarjetaLeft button,
* html #tarjetaRight label.boton a {
    background-image: url(../img/btHomeIE6Der.gif);
}

#tarjetaLeft h2 {
	margin-bottom:10px;
}

#tarjetaLeft div.ko p {
    position: relative;
    margin: 5px 0 -5px;
}

#tarjetaRight p {
	line-height:1.5em;
	margin-top:13px;
}

#tarjetaRight img {
	margin:0 3px;
	vertical-align:text-bottom;
}

#tarjetaLeft div,
#tarjetaRight label {
    position: relative;
}

.destacadoLeft,
.destacadoRight {
	width:290px;
	padding-bottom:40px;
}
.destacadoLeft img {
	margin:0 15px 30px 0;
}

.destacadoRight .tagCloud {
	text-align:left;
}
.home label input{
	width:252px;
	margin-right:10px;
}
.home label select{
	padding:2px 0 2px 3px;
	margin-right:10px;
}

.home button {
	margin:0 10px;
}

.home div.busqueda {
	margin:30px 0 ;
    overflow: hidden;
}

.home fieldset.busquedaEstandar label {
    float: left;
}


/* Modificado por RIAM*/
.home fieldset.busquedaEstandar a.boton {
    float: left;
    margin-top: 0.6em;
}

.home fieldset.busquedaEstandar a {
    float: left;
}
/* Fin de Modificado por RIAM*/


.loginPanel {
	height:90px;
	background-color:#82849A;	
}
.loginPanel .loginForm {
	width:390px;
	float:right;
	padding:19px 22px 0 0;
}
.loginPanel .loginForm fieldset {}

div.lostLink {
	float:right;
	margin-right:110px;
}
div.lostLink a.login {
	color:#FFF;
}

/*                                                                                       Pseudo Finder
------------------------------------------------------------------------------------------------------
*/
.pseudoFinder {
    position: relative;
    overflow: hidden;
    width: 664px;
    margin-bottom: 20px;
    background: #FFF;
}
.pseudoFinder div {
    position: relative;
    width: 333px;
    height: 100%;
    background: url(../img/sepVt.gif) repeat-y 100% 0;
}
.pseudoFinder div div {
    display: none;
    position: absolute;
    left: 332px;
    top: 0;
}
.pseudoFinder ul {
    padding: 5px 0;
}
.pseudoFinder li {	height:17px;}.pseudoFinder h4,
.pseudoFinder div a {
    display: block;
    color: #444;
    font-size: 1em;
    padding-left: 10px;
}
.pseudoFinder div a {
    padding-top: 1px;
    padding-right: 18px;
    padding-bottom: 1px; 
    margin-right: 1px;
    background: url(../img/flechaListadoBase.gif) no-repeat -473px 50%;
}
.pseudoFinder a.activo {
    background-position: 319px 50%;
    background-color: #F0F0F0;
    cursor: default;
    text-decoration: none !important;
}
.pseudoFinder a.volver {
    position: absolute;
    z-index: 10;
    display: none;
    top: 1px;
    right: 1px; 
}
.targetPseudoFinder {
    display: none;
    position: relative;
    z-index: 1;
}
.targetPseudoFinder div{
    padding-bottom: 30px;
}
.targetPseudoFinder th,
.targetPseudoFinder td {
    padding: 1px 20px 1px 0;
}
.targetPseudoFinder img {
	background: url(../img/iconBorrar.gif) no-repeat 0 0;
	width: 18px;
	height: 18px;
}
.targetPseudoFinder img:hover {
    background-position: 0 -25px;
}
/*                                                                           Base Recursos/Comunidades
------------------------------------------------------------------------------------------------------
*/
#wrap .baseRecursos ul.imagenAsociada li { /* para evitar herencia con los #wrap.baseRecursos*/
	margin-right:8px;
}
.wrap176 ul.baseRecursos {
	font-size:0.92em;
}
.indice .wrap176 a.desplegable,
.comunidades ul.imagenAsociada a.desplegable,
.personasOrganizaciones ul.imagenAsociada a.desplegable,
.contactos ul.imagenAsociada a.desplegable,
#baseRecursos h3 a,
div.leyenda a.desplegable {
	background:url(../img/offAzul.gif) no-repeat right 65%;
	padding-right:15px;
	outline:none;
	cursor: pointer;
	text-decoration:none !important;
}
.indice .wrap176 a.activo,
.comunidades ul.imagenAsociada a.activo,
#baseRecursos h3 a.activo  {
	background:url(../img/onAzul.gif) no-repeat right 65%;
}
.indice .wrap176 .listaGris li {	
	width:146px;
}
.indice .wrap176 .listaGris li a {
	background:url(../img/dotListadoGris.gif) no-repeat scroll;
	padding: 0px 0px 0px 10px;
	text-decoration:none;	background-position: 0px  4px;
}
.indice .wrap176 ul.listaGris{
	padding-bottom:15px;
	margin-top:5px;
}
div#SubirRecurso{
	width:620px;	
}

#SubirRecurso .text{
	width:620px;
}

#SubirRecurso label{
	display:block;
	width:620px;
}
.baseRecursos h2.baseRecursosSubir { 
    font-size: 1.3em;
	color:#8186BD;
	font-weight:normal;
	background:url(../img/sepHz.gif) repeat-x bottom;
	padding:4px 0;
	margin:15px 0 10px 0;
	
} 
.baseRecursos h2.sinBordeBasede {
	background:none;
	margin-bottom:0px !important; 
	padding-bottom:0px !important;
	font-size: small;
}

h2.BRSinBordeConPading{
	background:none;
	/*margin-bottom:0px !important; 
	padding-bottom:0px !important;
	padding:4px 0;*/
	padding:10px 15px 10px 30px;
	/*margin:15px 0 10px 0;*/
}

h2.BRConPading{
	background:url(../img/sepHz.gif) repeat-x bottom;	
	padding:10px 15px 2px 30px;
}

.baseRecursos textarea{
	width:620px;
}

input.textFichabiblio{
	width:300px;
}

.baseRecursos input .class1{
	width: auto;
}

div#FichaBibliografica {
	width:650px;
	margin-top:30px;
}
	
#FichaBibliografica label{
	display:block;
}

/*#PropiedadesDelRecurso{
	width:300px;
}*/

#PropiedadesDelRecurso li{
	height:30px;
}
.imagenAsociada.comentarios.imagenAsociada li {clear:both;margin-bottom:15px;overflow:hidden;padding-bottom:0px !important;padding-left: 0 !IMPORTANT;}/*                                                                                            Registro
------------------------------------------------------------------------------------------------------
*/
.registro #section{
    padding-bottom: 40px;
}

.registro #section form {
    width: 375px;
}

.registro #section label {
    display: block;
}

.registro .wrap375 input,
.registro .wrap375 select,
.registro label.chkLegal,
.registro div.chkLegal
 {
    width: 98%;
    margin-bottom: 10px;
}

.registro div.wrap375Sup {
    margin-top: 0;
}
.registro .wrap375 label.floatLeft {
	width:50%;
}
.registro div.wrap300Sup {
    padding-top: 1.43em;
    margin-top: 24px;
}

.registro div.wrap300 h3,
.registro div.wrap300 p {
    margin-bottom: 1.8em;
}

fieldset#datosPersonales {
	display: none;
}

.registro p.descr {
	font-size: 0.8em;
	margin-right: 15px;
	text-align: right;
	color: #8186BD;
}

fieldset#loginContactoPral {
	display:none;
}

fieldset#modoOperacion {
	display:none;
}

/*                                                                          Pestanyas de tagcloud PyO
------------------------------------------------------------------------------------------------------
*/
#pestanyasTagCloud li {
    float: left;
    display: inline;
    margin-right: 5px;
    background: #E0E0E0;
}
#pestanyasTagCloud li.activo {
    background: #F2F2F2;
}
#pestanyasTagCloud a {
    float: left;
    display: inline;
    padding: 5px;
	color:#8186BD;
}
#pestanyasTagCloud li.activo a {
    outline: none;
}
.pestanya {
    clear: both;
}


/*                                                              Clases propias para usuarios invitados
------------------------------------------------------------------------------------------------------
*/
.noDisponible .wrap710Sup {
	margin-top:0px !important;
}
.noDisponible .textBox{
	padding:10px 70px;
}
.noDisponible label {
	margin:5px 0 15px 0;
}

/*                         Elementos especificos para la maquetacion de paginas interiores de MyGnoss.
 *
 *  
 *                                                                                        Desplegables
------------------------------------------------------------------------------------------------------
*/
.tituloDesplegable {
    clear: right;
	padding-bottom:5px;
}
.tituloDesplegable  a.desplegable,
.tituloSubDesplegable  a.desplegable {
	color:#4c4c4c;
	background:url(../img/offGrisDespl.gif) no-repeat left center;
	padding-left:25px;
	font-size:1.1em;

}

.tituloDesplegable a.activo,
.tituloSubDesplegable a.activo{
	background:url(../img/onGrisDespl.gif) no-repeat left center;
}

.tituloDesplegable  a:hover,
.tituloSubDesplegable a:hover {
	text-decoration:none;
	color:#666666;
}
.tituloSubDesplegable{
	margin-left:15px;
}

/* lista de mensajes */
.porLeer {
    background: #FFF;
}

/*                                                                                  Visor de biografia
------------------------------------------------------------------------------------------------------
*/
div.inicio #section h2 {
    overflow: hidden;
}

h2 span.perfilPublico {
    float: right;
    font-size: 0.69em;
    color: #444;
    padding: 2px 5px;
    width: 200px;
}
h2 span.perfilPublico img {
	background: url(../img/iconBorrar.gif) no-repeat 0 0;
	width: 18px;
	height: 18px;
	vertical-align: text-top;
	cursor: pointer;
}

h2 span.perfilPublico img:hover {
    background-position: 0 -25px;
}

div.imagenAsociada {
    overflow: hidden;
    margin-bottom: 50px;
}

div.imagenAsociada div.funciones {
    width: 210px;
}

div.imagenAsociada div.funciones label a {
    width: 90px !important;
}
div.imagenAsociada div.funciones label.primero {
    margin-left: 10px;
}
div.imagenAsociada div.funciones label.ultimo a {
    width: 200px !important;
}

div.imagenAsociada div.multiFuncion {
    width: 390px;
}


/*                                                                                       Inicio perfil
------------------------------------------------------------------------------------------------------
*/

.myGnoss .wrap710 h2 {
	margin: 0 !important;
}

/* Base de recursos */
#selectoresBase {
    padding: 2px 0;
    text-align: right;
}
#selectoresBase label {
    margin-left: 2em;
}
#selectoresBase label.boton {
    margin: 2px 0 0;
}
#selectoresBase img {
    vertical-align: middle;
    margin-left: 2px;
}

.amigos ul.imagenAsociada {
	margin-top:20px;
}
#baseRecursos {
    clear: right;
    background: #FFF url(../img/sepVt.gif) repeat-y 174px 0;
    padding: 5px 0;
}

#baseRecursos.baseRecursosAuto{
	height:auto !important;
}
#baseRecursos table{
    background: #FFF; /*RIAM*/
}
#baseRecursos.baseRecursosFavorito{	height:430px; !important;}#baseRecursos div.floatLeft {
    width: 162px;
    position: relative;
}
#baseRecursos div.floatRight {
    width: 460px;
    position: relative;
}
#baseRecursos h3,
#baseRecursos div.floatLeft h4{
    font-size: 1em;
    display: block !important;
    padding: 2px 10px;
    font-weight: normal;
}
#baseRecursos h3 {
    font-weight: bold;
}
.listadoCategorias a {
    /*Modificado por JAVIER */
    /*background: url(../img/flechaListadoBase.gif) no-repeat -635px 50%;*/
	width:145px;	padding: 2px 20px 2px 2px;}
.listadoCategorias a.activo {
    color: #444;
    background-color: #F0F0F0;
    background-position: 157px 50%;
    text-decoration: none !important;
    cursor: default;
	width:150px;}
.listadoCategorias .sepHz {
    width: 100px;
    margin: 5px 15px 5px;
	padding:0px !important;}
.listadoCategorias ul {
    margin-top: 5px;
}
.listadoCategorias ul ul {
    margin-top: 0;
}
.listadoCategorias ul ul a {
    padding-left: 20px;
}
.listadoCategorias ul ul a.activo {    padding-left: 20px;	width:135px;}.listadoCategorias li,#baseRecursos .listadoCategorias a {	padding-bottom:2px;	float:left;	display:inline !important;	clear:left;}#baseRecursos .filtroRapido {
    margin-right: 10px;
}
ul.recursoDetalle li {
    margin: 10px 10px 20px;
}
.recursoDetalle span.floatLeft {
    width: 80px;
    padding: 8px 2px;
    text-align: center;
    background: #FFF;
}
.recursoDetalle span.floatLeft img {
    margin-bottom: 5px;
}
#baseRecursos span.fecha,
div.recursoDetalle span.fecha {
    float: right;
    font-size: 0.9em;
}
.recursoDetalle span.fecha {
    margin-top: 0.4em;
    padding-top: 5px;
}
.fichaRecurso h4 {
	border-bottom:1px solid #CCC;
	margin:15px 0;
	display:block;
}
div .imagenAsociada .compartidaCon {
    width: 100%;
}
.compartidaCon {
    margin-top: 5px;
}
table.recursoSimple {
    margin: 8px;
    width: 100%;
}
.recursoSimple td {
    padding: 3px 2px;
}

td.tagsRecursos p
{
	OVERFLOW: hidden; 
	WIDTH: 380px
}

.recursoSimple td.tagsRecursos 
{
    font-size:0.92em;
	width:200px;
}

.miniSnapshot {
    margin: auto;
    /*z-index: 5;*//*Comentado por Javier para que las imágenes no queden por encima de los pop-ups*/
    display: block;
}
.miniSnapshot a{
    z-index: 6;
    /*background-image: url(../img/mascMiniSnapshot.png);*/
}
/* acciones de base de recursos (anyadir cats, subir y tal)*/
.accionesRecursos {
    position: absolute;
    z-index: 11;
    top: 5px;
    left: 10px;
    margin-top: 1.3em;
    background: #E6E6E6;
    padding: 10px;
    border: 1px solid #D9D9D9;
	margin-right:0px;}
.accionesRecursos ul {
    padding-top: 2px;
    border-top: 1px solid #D9D9D9;
    margin-top: 2px;
}
#baseRecursos .ko p {
    padding-right: 10px;
    padding-left: 10px;
}
/* ficha de recurso */
div.fichaRecurso {
    /*margin-bottom: 20px;*/
    /*margin-bottom: 30px;*//*Agregado por Javier*/
}
.fichaRecurso span.floatLeft {
    padding-left:0px;
    padding-right: 10px;
    background: transparent 
}

.fichaRecurso .miniSnapshot a {
    width: 120px;
    height: 90px;
}

.fichaRecurso .miniSnapshot a {
    /*background-image: url(../img/mascMediSnapshot.png);*/
}
span.karmaPolice {
    float: left;
    display: inline;
    width: 40px;
    text-align: center;
    font-size: 1.6em;
}
span.karmaPolice img {
	margin: 5px 0;
}
p.karmaPolice {
	float: left;
	display: inline;
	width: 30px;
	font-size: 0.91em;
    text-align: center;
}
p.karmaPolice span {
    display: block;
    margin: 1px 0;
}

/*MODIFICADO POR RIAM*/
div.karmaPolicePeque {
	float: left;
	display: inline;
	width: 15px !important;
	margin-right: 10px;
	font-size: 0.91em;
    text-align: center;
}
div.karmaPolicePeque span {
    display: block;
    margin: 1px 0;
}
/*FIN MODIFICADO POR RIAM*/

/* Anyadir recurso a categoria */
#capaModal .mascara {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 800;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
#capaModal .modalSup,
#capaModal .modalInf {
    height: 15px;
    width: 435px;
    position: absolute;
    top: -15px;
    left: 0;
    z-index: 900;
    background: url(../img/capaModalSup.gif) no-repeat 0 0;
}
#capaModal .modalInf {
    top: 100%;
    background-image: url(../img/capaModalInf.gif)
}


#capaModal .modalSup700,
#capaModal .modalInf700 
{
	display:none;
}

#capaModal .anyadirCategorias {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 900;
    width: 335px;
    height: auto;
    padding: 5px 50px;
    margin-left: -218px;
    margin-top: 65px;
    text-align: left;
    background: #F0F0F0;
}
#capaModal .anyadirCategorias ul {
    padding: 0.5em 0 0.5em 15px;
}
#capaModal .anyadirCategorias li {
    margin-bottom: 2px;
    position: relative;
	z-index: 1003;
}

#capaModal .anyadirCategorias a.verMas {
    position: absolute;
    top: 1px;
    left: -14px;
}
#capaModal .anyadirCategorias a.icoEliminar {
	position:relative;
	z-index:1005;
}

/*MODIFICADO POR RIAM*/
.capaModal .mascara {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.capaModal .modalSup,
.capaModal .modalInf {
    height: 15px;
    width: 435px;
    position: absolute;
    top: -15px;
    left: 0;
    z-index: 900;
    background: url(../img/capaModalSup.gif) no-repeat 0 0;
}
.capaModal .modalInf {
    top: 100%;
    background-image: url(../img/capaModalInf.gif)
}
.capaModal .anyadirCategorias {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1001;
    width: 335px;
    height: auto;
    padding: 5px 50px;
    margin-left: -218px;
    margin-top: 65px;
    text-align: left;
    background: #F0F0F0;
}
.capaModal .anyadirCategorias ul {
    padding: 0.5em 0 0.5em 15px;
}
.capaModal .anyadirCategorias li {
    margin-bottom: 2px;
    position: relative;
	z-index: 1003;
}

.capaModal .anyadirCategorias a.verMas {
    position: absolute;
    top: 1px;
    left: -14px;
}
.capaModal .anyadirCategorias a.icoEliminar {
	position:relative;
	z-index:1005;
}
/*FIN MODIFICADO POR RIAM*/

/* editar/crear categoria */
div.editarCategoria input {
    width: 290px;
}
div.editarCategoria .sinAncestro {
    font-style: italic;
}
div.editarCategoria .botonera {
    margin-top: 0;
}
/* subir recurso - paso 1*/
#seleccionarRecurso div {
    margin: 10px 0;
}
#seleccionarRecurso div label {
    display: none;
}
#seleccionarRecurso div input {
    display: block;
    width: 652px;
}
/*                                                                                      Editar perfil
------------------------------------------------------------------------------------------------------
*/

div #editarPerfil fieldset {
	width:600px;
	margin-top:30px;
}
div #editarPerfil fieldset.foto {
	*width:450px;
}

div #editarPerfil div.floatRight { 
    width: 290px;
}
div #editarPerfil div.floatRight div { 
    width: auto
}
#editarPerfil label {
	display:block;
}

#editarPerfil input {
	width:280px;
}

#editarPerfil input#fotoPerfil{
	width:170px;
}

#editarPerfil div.codigoPost input {
	width:80px;
	margin-right:10px;
}
#editarPerfil div.poblacion input {
	width:184px;
}
#editarPerfil select{
	width:290px;
	height:22px;
}
#reencuadrar img.floatLeft {
    margin-bottom: 10px;
}
#reencuadrar div {
    float: left;
    margin-left: 30px;
}
#reencuadrar span.fotoPerfil {
    display: block;   
    margin: 5px 0 10px; 
}
#reencuadrar .boton {
    margin-top: 39px;    
}
/*                                                                                 Perfil comunidades
------------------------------------------------------------------------------------------------------
*/

.perfilComunidades .botonAsociado{
	margin-top:10px !important;
}
.perfilComunidades .panel {
	padding-top:20px;
}
.perfilComunidades .imagenAsociada ul li {
	background:url(../img/comunidades/dotSubcomunidad.gif) no-repeat 0 1.2em;
	margin:0px 0 0 30px;
}
* html .perfilComunidades .imagenAsociada ul li{	background-position:0 0.3em;}
.perfilComunidades form.ordenarListado {
	padding-top:20px;
}

.perfilComunidades h3 input {
	margin-right:5px;
}


.perfilComunidades .botones {
	height:40px;
	float:left;
	display:inline;
	margin-bottom:10px;
}

.perfilComunidades .botones label {
	margin-right:10px;
}

/*                                                                               Perfil contribuciones
------------------------------------------------------------------------------------------------------
*/

.perfilContribuciones p.estadisticas big{
	font-size:1.1em;
	font-weight:bold;
}

.perfilContribuciones span#contenedorFiltros {
	margin:5px 0 10px 0;
}


.perfilContribuciones #selectoresBase {
	margin-top:20px;
}
/*                                                                                 Perfil Biograf?a
------------------------------------------------------------------------------------------------------
*/
div #editarBiografia {
	width:620px;
	margin-top:30px;
}

#editarBiografia label {
	display:block;
}
#editarBiografia label.guardar {	display:block;	width:420px;}
#editarBiografia input {
	width:280px;
}

#editarBiografia textarea {
	width:610px;
}	


.editarBiografia div.floatLeft biografia {
	width:610px;
}


#editarBiografia input#etiquetas{
	width:610px;
}

#editarBiografia .sepHz{
	clear:both;
	width:620px;
	padding: 20px 0;
	background-position:50% 50%;
}
ul.imagenAsociada li.perfil {	padding-bottom:20px;	margin-bottom:0px !important;	display:block;}
/*                                                                                 Intro Biograf?a
------------------------------------------------------------------------------------------------------
*/
#introBiografia input{
	width:400px;
}

/*                                                                                 Editor de Biograf?a
------------------------------------------------------------------------------------------------------
*/

#editorBiografias td.normal{
	padding-left:10px;
}

#editorBiografias td.sublevel{
	padding-left:30px;
	width:30px;
	/*border-top:2px solid #FFF;*/
}

#editorBiografias div.sublevel{
	border-top:2px solid #FFF;
}


#editorBiografias td.sublevel1{
	border-top:2px solid #FFF;
}

#editorBiografias tr.active{
	background-color:#FFF;
	padding:10px 10px 0px 10px;
}

#editorBiografias td.PubliSelect{
	width:120px;
}

#BioActions select {
	width:240px;
	margin-right:20px;
}

#BioActions input {
	width:232px !important;
}

#BioActions button {
	width:80px !important;
}

#BioActions label.Actions{
	width:180px;
	margin-right:10px;
}

#BioActions td.width200{
	width:200px;
}
/*                                                                                 Login MyGnoss
------------------------------------------------------------------------------------------------------
*/

#Login input {
	width:230px;
}

#Login label.botonLoginMyGnoss {
	margin-left:80px;
	margin-top:8px;
	
}

#Login label {
	display:block;
	width: auto;
}

#Login .LoginTableNewAccount {
	height:70px;
	width:100%;
	border:none 0px;
}

/*                                                                                 Login MyGnoss
------------------------------------------------------------------------------------------------------
*/
.contactos .busquedaAv fieldset {
	width:560px;
}

.contactos .busquedaAv  fieldset#contactos {	width: auto !important;}.contactos .busquedaAv .boton {
	clear:none !important;
	
}

.contactos .busquedaAv .buscadores {
	margin-right:0px;
}

.contactos .busquedaAv .buscadores a.desplegable {
	margin-left:10px;
	background:url(../img/offAzul.gif) no-repeat right 65%;
	padding-right:15px;
	outline:none;
}

.contactos .busquedaAv .buscadores a.activo {
	background:url(../img/onAzul.gif) no-repeat right 65%;
}

.contactos form.anyadirContactos {
	width:545px;
	margin-bottom:20px;
}

.contactos form.anyadirContactos input,
.contactos form.anyadirContactos select{
	width:140px;
}

.contactos form.anyadirContactos select {
	height:21px;
}

.contactos form.anyadirContactos  label.boton {
	margin-top:-5px;
}

.contactos ul.imagenAsociada {
	margin-top:30px;
}

.contactos .botonAsociado h3 a {
	margin-left:10px;
}
.contactos .bgGris .imagenAsociada h3 {
	/*width:420px;*/
}
.contactos .botonAsociado select {
	font-size:0.72em;
	color:#666;
}

.contactos .bgGris {
	background:#f9f7f7;
	margin-bottom:20px;
	height:auto; 
	width:665px;
}
 
 /*Modificado por RIAM*/
.contactos .bgGris .imagenAsociada div{
	width:580px;
	/*margin-top:20px;*/
}
/*-------------------*/

 div#contactos.tituloDesplegable div.sepHz {	width:536px;	margin-top:4px;}
 
 /*LOZA : Antes era 590px, pero con los padding que se han añadido a .imagenAsociada li, lo reduzco a 580 para que se vea en la misma linea*/
 .invitaciones .imagenAsociada div {
	width:580px;
}

.invitaciones div.funciones {
    float: right;
    margin-top: -35px;
    width: 120px;
}

.contactos .bgGris  h3 span,
.invitaciones h3 span {
	color:#4C4C4C;
	font-size:0.82em;
}
.contactos .imagenAsociada div.funciones  label,
.invitaciones .imagenAsociada div.funciones  label  {
	background-color:#f9f7f7 !important;
	margin-left:2px;
}

.contactos .imagenAsociada div.funciones button,
.invitaciones .imagenAsociada div.funciones button {
	width:55px !important;

}
/*Modificado por riam*/
.contactos .bgGris ul.imagenAsociada {
	padding-bottom:10px;
}
/*-----------------*/

.contactos .bgGris ul.imagenAsociada li {
	margin-bottom:10px;
}

.contactos #contenedorFiltros a {
	float:none;
	line-height:37px;
}


/*                                                                                				Blogs
------------------------------------------------------------------------------------------------------
*/

.BlogSubtitle{
	font-size:0.86em;
	display: inline-block;
}

#BlogBuscar input#buscar {
	width:200px;
	margin-left:40px;
	margin-right:25px;
}

h2.MiBlogSinborde{
	background:none;
	margin-bottom:0px !important; 
	padding-bottom:0px !important;
}


.BlogInicio h3{
	background: url(../img/sepHz.gif) repeat-x bottom;
	/*padding:17px 0 4px 0;*/
	/*margin:15px 0 10px 0 !important;
	display:block;
	clear: left;*/
}

.BlogInicioRight,
.BlogInicioComentariosRight{
	color:#000;
	font-size: 0.81em !important;
}

.BlogNavegacion{
	text-align:center;
}

div#nuevoBlog{ /*RIAM*/
	width:640px;
	
}
#nuevoBlog label{
	display:block;
	width: auto;
}

#nuevoBlog input{
	/*width:640px;*/
}

#nuevoBlog textarea{
	width:640px;
	overflow:auto;
}


#nuevoBlog div.addCategoria {
	padding-left:25px;
	padding-top:4px;
	width:460px;
	height:auto;
}

.blogOpciones div.addCategoria {
	padding-left:25px;
	padding-top:4px;
	width:500px;
	height:auto;
}

table.editoresBlog {
    padding: 8px;
    width: 100%;
	border:none;
}

.editoresBlog td {
    padding: 3px 2px;
}

.editoresBlog td.checkboxBlog {
	width:40px;
	text-align:left;
}

div.filtroRapidoBlog{
	margin-top:25px;
	width:640px;
}

#BlogInicio {
    clear: right;
    background: #FFF url(../img/sepVt.gif) repeat-y 174px 0;
    padding: 5px 0;
}
#BlogInicio div.floatLeft {
    width: 174px;
    position: relative;
}
#BlogInicio div.floatRight {
    width: 470px;
    position: relative;
}
#BlogInicio .listadoCategorias a {width: 170px;	padding: 2px 20px 2px 2px;}#BlogInicio .listadoCategorias li {	width: 170px;}#BlogInicio h3,
#BlogInicio div.floatLeft h4 {
    font-size: 1em;
    display: block !important;
    padding: 2px 10px;
    font-weight: normal;
}
#BlogInicio h3 {
    font-weight: bold;
}

#BlogInicio .filtroRapido {
    position:absolute;
	top:0px;
	right:20px;
}

/*#nuevoArticuloBlog label,*/
form.anyadirGnoss label{
	display:block;
	width: auto;
}

/*#nuevoArticuloBlog input{*/
form.anyadirGnoss input{
	width:640px;
}

#nuevoArticuloBlog textarea,div.anyadirGnoss textarea,form.anyadirGnoss textarea {
	width:640px;
	overflow:auto;
}

#nuevoArticuloBlog div.addCategoria {
	padding-left:15px;
	padding-top:4px;
	width:536px;
}

.nuevoArticuloBlog label{ /*RIAM*/
	display:block;
	width: auto;
}

.nuevoArticuloBlog input{ /*RIAM*/
	width:640px !important;
}

.nuevoArticuloBlog textarea{ /*RIAM*/
	width:640px !important;
	overflow:auto;
}

.nuevoArticuloBlog div.addCategoria { /*RIAM*/
	padding-left:15px;
	padding-top:4px;
	width:536px !important;
}

div.recursoBlog{
	width:640px;
	height:250px;
	overflow:auto;
}
table.recursoBlog {
    padding: 8px;
    width: 100%;
	border:none;
}

.recursoBlog td {
    padding: 3px 2px;
}

.recursoBlog td.checkboxBlog {
	width:40px;
	text-align:left;
}

.recursoBlog td.dateBlog {
	width:50px;
	padding-right:10px;
	text-align:right;
}

#addRecurso .botoneraInferior{
	width:280px;
	margin-top:-13px;
}

form#BuscarArticulosBlog{
	width:520px;
	height:40px;
}
#BuscarArticulosBlog label{
	padding-right:25px;
	font-size: 1.1em;
	color:#8186BD;
	font-weight:normal;
}

#BuscarArticulosBlog input{
	width:300px;
}

div.BuscarArticulosBlog{ /*RIAM*/
	width:520px;
	height:40px;
}
.BuscarArticulosBlog label{ /*RIAM*/
	padding-right:25px;
	font-size: 1.1em;
	color:#8186BD;
	font-weight:normal;
}

.BuscarArticulosBlog input{ /*RIAM*/
	width:300px;
}

table.MiBlogPanel {
	padding: 8px;
    width: 100%;
	border:none;
}
.MiBlogPanel td.checkboxBlog {
	width:40px;
	text-align:left;
}

.MiBlogPanel td.h3panelblog {
    font-size: 1.3em;
	color:#8186BD;
	font-weight:normal;
	height:30px;
}

.MiBlogPanel td.panelBlogArtComent {
    font-size: 1.1em;
	font-weight:normal;
	padding-left: 5px; /*RIAM*/
}
	
#blogOpciones label{
	display:block;
	width: auto;
}

#blogOpciones input{
	/*width:640px;*/
}

#blogOpciones textarea{
	width:640px;
	overflow:auto;
}

#blogOpciones label.BlogOpcionesLabel{
	display: inline;
	width: auto;
}
#blogOpciones input.checkboxBlogOpciones{
	width:20px;
}
#blogOpciones label.BlogOpcionesLabel2{
	width: auto;
	height:30px;
}

#blogOpciones ul.checkboxBlogDobleUl{
	margin-bottom:20px;
	padding-left:0px;

}#blogOpciones div.checkboxBlogDoble{
	height:40px;
	width:200px;
	margin-right:330px;}
	
.blogOpciones label{ /*RIAM*/
/*display:block;*/
width: auto;
}

.blogOpciones input{ /*RIAM*/
}

.blogOpciones textarea{ /*RIAM*/
	width:640px;
	overflow:auto;
}

.blogOpciones label.BlogOpcionesLabel{ /*RIAM*/
	display: inline;
	width: auto;
}
.blogOpciones input.checkboxBlogOpciones{ /*RIAM*/
	width:20px;
}
.blogOpciones span.BlogOpcionesLabel2{ /*RIAM*/
	width: auto;
	height:30px;
	display:block;
}

.blogOpciones ul.checkboxBlogDobleUl{ /*RIAM*/
	margin-bottom:20px;
	padding-left:0px;

}.blogOpciones div.checkboxBlogDoble{ /*RIAM*/
	height:40px;
	width:200px;
	margin-right:330px;}	
	
	
#blogAdminEditors h2{
    font-size: 1.3em;
	color:#8186BD;
	font-weight:normal;
	background:url(../img/sepHz.gif) repeat-x bottom;
	padding:4px 0;
	margin:15px 0 10px 0;
	width:646px;
}

#blogAdminEditors div.floatLeft{
	padding-top:10px !important;
	width:520px !important;
}

#blogAdminEditors ul {
	width:640px;
	height:54px;
	margin-bottom:10px;
}

form#blogAdminEditors {
	width:646px;
}
#blogAdminEditors select{
	margin-left:25px;
}

#blogAdminEditors a.blogEjemploPerfil{
	margin-left:25px;
	margin-right:25px;
}

.CajaFotoBlog{
	width:150px;
	padding-right:15px;

}

.CajaFotoBlog .TextCajaFotoBlog{
	position:relative;
	top:4px;
	text-align:right;
}

.CajaFotoBlog .TextCajaFotoBlog a{
    font-size: 1.1em;
	color:#8186BD;
	font-weight:normal;
}
.CajaFotoBlog .fotoPerfilBlog a {
    /*background-image: url(../img/mascFotoPerfilBlanco.png);*/
} 

#blogReferenciaRecurso .cajaBlogValidaRecurso{
	width:614px;
}

#blogReferenciaRecurso input {
	width:550px;
}
.botonMovidoDr {
	margin-left:10px;
}
/*                                                                      		                                        		Usuarios
---------------------------------------------------------------------------------------------------------------------------------------------
*/

#usuariosEmpresa .imagenAsociada {
	margin:0px 20px 0px 20px;

}

div.imagenAsociada div.infoEmpresa {
    width: 580px;
}

.imagenAsociada h3.infoEmpresaH3{
background:transparent url(../img/sepHz.gif) repeat-x scroll center bottom;
font-size:1.2em;
font-weight:normal;

}

form#buscaContactos {
	width: auto;
	margin-top:25px;
}

#buscaContactos label {
	width:auto;
}#buscaContactos label#busca {	width:auto;	position:relative;	top:-4px;}#selectoresBase a.selectorSube {	position:relative;	top:-3px;}selectorSube#buscaContactos label span {	clear:both;	height:25px;
	vertical-align: top;	position:relative;	top:6px;}
#buscaContactos input {
	width:250px;
}

#buscaContactos .botonbuscar {
	position:relative;
	margin-left:380px !important;
	width:auto;
}

#adminEmpresa {
	width:auto;
}

.imagenAsociada h3.adminEmpresa{
font-size:1.2em;
font-weight:normal;
background:none !important;
margin-bottom:0px !important;
}

.imagenAsociada .infoUsuario{
	padding-left:10px;
	width:580px;
	margin-top: -15px;
}

div.imagenAsociada.imagenAsociadaUsuarios{
	margin-bottom:30px !important;	
	}

#adminEmpresa h2 {
padding-bottom:20px;
}
/*                                                                      		                                        		CV Profesional
---------------------------------------------------------------------------------------------------------------------------------------------
*/

#EditaDatosPerso label {
	display:block;
	width: auto;
}
#EditaDatosPerso label.cp {	display:block;	width: 90px;}#EditaDatosPerso label.labelAncha{
	margin-top:5px;
	margin-bottom:5px;
}

#EditaDatosPerso input {
	width: 280px;
}

#EditaDatosPerso input.textPeque{
	width: 180px;
}
#EditaDatosPerso input.textPobla{
	width: 164px;
}
#EditaDatosPerso input.textPequeMas{
	width: 80px;
}

#EditaDatosPerso input.InputEtiquetas{
	width: 657px;
}


#EditaDatosPerso select {
	width: 288px;
	height:22px;
}

#EditaDatosPerso select.selectSexo{
	width:100px;
}

#EditaDatosPerso .selectFechaCV{
	width: auto;
	float:right;
	margin-right:8px;
}
#EditaDatosPerso select.selectDiaCv {
	width:43px !important;
}
#EditaDatosPerso select.selectMesCv {
	width:50px !important;
}
#EditaDatosPerso select.selectAnyCv {
	width:60px !important;
}

#EditaDatosPerso .columna.PoblaClass{
	width:60% !important;
}
#EditaDatosPerso .columna.CodigoClass{
	width:37% !important;
}

#EditaDatosPerso input.checkCV{
	width: 15px;
}

#EditaDatosPerso textarea{
	width: 657px;
	overflow:auto;
}

#EditaDatosPerso .cajaDestacadaLila{
	background-color:#e7ebf7;
	padding:10px;
}

#EditaDatosPerso label.textoCheck{
	margin-right:205px;
}


#ExperienciaLaboral #trabajaEmpresa th,
#ExperienciaLaboral #trabajaEmpresa td{
	text-align:left;
	width:32%
}
#ExperienciaLaboral #trabajaEmpresa td.editarEmpresa {
	width:30px;
}
#ExperienciaLaboral label {
	display:block;
	width:auto;
}
#ExperienciaLaboral input.grandeCV {
	width:314px;
}

.contendorFechas {
	width:325px;
}
.contendorFechas2 {
	width:372px;
}

#ExperienciaLaboral .trescolLeft,
#OrganizaActivID .trescolLeft{
	margin-right:5px;
	width:33%
}
#ExperienciaLaboral .trescolLeft input,
#OrganizaActivID .trescolLeft input {
	width:203px;
}
#ExperienciaLaboral .trescolLeft select,
#ExperienciaLaboral .trescolRight select{
	width:213px;
	height:22px;
}

#OrganizaActivID .trescolRight select{
	width:209px;
	height:22px;
}

#ExperienciaLaboral .trescolRight,
#OrganizaActivID .trescolRight {
	width:32%
}
#ExperienciaLaboral textarea{
	width:657px;
	overflow: auto;
	height:60px;
}

#ExperienciaLaboral .cuatroColLeft{
	margin-right:5px;
	width:29%
}
#ExperienciaLaboral .cuatroColLeft input {
	width:170px;
}
#ExperienciaLaboral .cuatroColLeft select,
#ExperienciaLaboral .CuatroColRight select{
	width:178px;
	height:22px;
}

#ExperienciaLaboral .CuatroColRight{
	width:10%
}
.botonBajado {
	margin-top:17px;
}
.botonBajado10px {	margin-top:10px;}
.subdesplegable{
	margin-left:15px;
	width:98%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif;
}
.subdesplegableTexto{
	color:#8186BD;
}

#OrganizaActivID label {
	display:block;
	width:auto;
}

#OrganizaActivID input {
	width:654px;
}

#IdiomasEstancias label {
	display:block;
}
#IdiomasEstancias input {
	width:318px;
}

#IdiomasEstancias select.nivelIdioma{
	width:158px;
}

#IdiomasEstancias select{
	height:22px;
}
#IdiomasEstancias .contenedorFechas3{
	width:323px;
	margin-right:-4px;
}

.columnaRightCV{
	margin-left:10px;
	width:320px;
}

.columnaLeftCV{
	margin-right:10px;
	width:325px;
}

#IdiomasEstancias select.PaisEstancia{
	width:318px;
	height:22px;
}

input.guardaCV {
	width:420px;
	margin-left:20px;
}
	
	
/*                                                                      		                                        		       GMaps
---------------------------------------------------------------------------------------------------------------------------------------------




*/
.mapa {
	padding-left:50px;






}
.mapa a img {
	margin:30px 0 0  0;
	border:1px solid #ADADAD;






}

.mapa .cajaDestacadaLila {
	width:520px;
	background-color:#E7EBF7;
	padding:20px;
	margin-top:10px;
}

.mapa .cajaDestacadaLila p span {
	color:#8186C8;
	font-weight:bold;
}
	
.autocomplete-load
{
	background: window url( '../img/indicator.gif' ) no-repeat scroll right center;
}

/*																							AutoCompletar
------------------------------------------------------------------------------------------------------------
*/
div.panAutoCompletar ul.listaAutocomplete
{
	padding: 0px;
	margin: 0px;
	background-color: #FFF;
	border-color: #CCC;
	border-style: none solid solid;
	border-width: medium 1px 1px;
}

div.panAutoCompletar ul.listaAutocomplete li
{
	padding: 1px 0px 1px 10px;
	list-style-type: none;
	border-top: solid 1px #CCC;
	cursor: pointer;
	background : none;
}

div.panAutoCompletar ul.listaAutocomplete li:hover
{
	background-color: #ffc000;
}

div.panAutoCompletar ul.listaAutocomplete li.achover
{
	background-color: #ffc000;
}

/*
---------------------------------------------------------------------------------------------
*/
.capaModal .modalSup,
.capaModal .modalInf {
    height: 15px;
    width: 435px;
    position: absolute;
    top: -15px;
    left: 0;
    z-index: 900;
    background: url(../img/capaModalSup.gif) no-repeat 0 0;
}
.capaModal .modalInf {
    top: 100%;
    background-image: url(../img/capaModalInf.gif)
}
.capaModal .anyadirCategorias {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1001;
    width: 335px;
    height: auto;
    padding: 5px 50px;
    margin-left: -218px;
    margin-top: 65px;
    text-align: left;
    background: #F0F0F0;
}
.capaModal .anyadirCategorias ul {
    padding: 0.5em 0 0.5em 15px;
}
.capaModal .anyadirCategorias li {
    margin-bottom: 2px;
    position: relative;
	z-index: 1003;
}

.capaModal .anyadirCategorias a.verMas {
    position: absolute;
    top: 1px;
    left: -14px;
}
.capaModal .anyadirCategorias a.icoEliminar {
	position:relative;
	z-index:1005;
}
	
/*                                                                                                                                Tutoriales
---------------------------------------------------------------------------------------------------------------------------------------------
*/

.tutorial #sidebar {
	width:150px;
}
.tutorial #section {
	padding-bottom:120px;
}
ul.menuAprende {
	margin:110px 0 0 0;
}
ul.menuAprende li {
	margin-bottom:3px;
	letter-spacing:-0.08em;
}
ul.menuAprende li a {
	color:#8186bd;
}
ul.menuAprende li a span {
	font-size:1.7em;
	color:#e37f4f;
}
ul.menuAprende li a:hover{
	text-decoration:none;
	color:#e37f4f;
}

ul.menuAprende li.activo a {
	color:#e37f4f;	
}
ul.menuAprende li.activo a span {
	color:#8186bd;
}

ul.menuAprende ul {
	margin:5px 5px 5px 10px;
}

ul.menuAprende ul li {
	margin-bottom:0px !important;
}

ul.menuAprende ul li a span {
	font-size:1.1em;
}
div.menuAprende {
	background:url(../img/btMenuAprende.gif) no-repeat;
	text-align:center;
	width:127px;
	height:49px;
	padding:5px 0px;
	/*padding:1px 0px; Arreglan el boton Registrate */	
	
}
a.menuAprende 
{
	cursor:pointer;
	color:#FFF;
}
button.menuAprende a{
	display:block;
	color:#FFF;	
}

div.aprendeDestSup {
	background:url(../img/aprendeDestSup.gif) no-repeat;
	width:595px;
	height:19px;
}
div.aprendeDest {
	background:#d9d9d9;
	padding:0 20px;
	width:555px;
}

div.aprendeDestInf {
	background:url(../img/aprendeDestInf.gif) no-repeat;
	width:595px;
	height:19px;
	margin-bottom:20px;
}
.tutorial .wrap710 .textBox {
	margin:0 30px;
	padding-bottom:30px;
}
.tutorial h3 {
	font-size:1.3em;
	color:#e37f4f;
}

.tutorial h3 span {
	font-size:1.5em;
	color:#8186bd;
}
.tutorial h4 {
	font-weight:normal;
	padding-top:20px;
}
.tutorial img.ejemplo {
	margin:20px 0;
} 
.tutorial .siguiente {
	width:180px;
	font-size:0.92em;
	background: url(../img/pagRight.gif) no-repeat 100% 50%;
	text-align:right;
	padding-right:20px;
}
.tutorial .anterior{
	width:180px;
	font-size:0.92em;
	background: url(../img/pagLeft.gif) no-repeat 0% 50%;
	padding-left:20px;
}
.tutorial ul.listado{
	list-style-type:circle;
	list-style-position:outside;
	padding-left:30px;
}
.tutorial ul.listadoAcerca {
	padding-top:20px;
}
.tutorial ul.listadoAcerca li {
	background:url(../img/listadoAcercaGnoss.gif) no-repeat 0% -2px;
	padding-left:27px;
	padding-bottom:15px;
}
.tutorial ul.listadoAcerca ul {
	padding-top:10px;
}
.tutorial ul.listadoAcerca ul li {
	background:url(../img/pagRightOrange.gif) no-repeat 0 10%;
	padding:0 0 5px 15px !important;
}
.tutorial .wrap710 .siguiente {
	margin-right:15px;
	background: url(../img/pagRightOrange.gif) no-repeat 100% 50%;
}

.tutorial .wrap710 .anterior {
	margin-left:15px;
	background: url(../img/pagLeftOrange.gif) no-repeat 0% 50%;
}
.tutorial .wrap710 .siguiente a,
.tutorial .wrap710 .anterior a {
	color:#e37f4f;
}

/*                                                                                                                            Anyadir a Gnoss
---------------------------------------------------------------------------------------------------------------------------------------------
*/

.anyadir .wrap710 p span {
	font-size:1.5em;
	color:#8186BD;
}
.anyadir .wrap710 a.marcador {
	float:left;
	display:inline;
	font-size:1.3em;
	margin:20px 40px;
	text-decoration:underline;
}
.anyadir .wrap710 p {
	padding:10px 0;
}
.anyadir .wrap710 p.floatRight,
.anyadir .wrap710 p.floatLeft{
	width:380px;
}

.anyadir .wrap710 div.animacion {
	width:250px;
	display:inline;
	float:right;
	
}
.anyadir form.login  {
	width:200px;
	margin:10px;
}
.anyadir form.login label {
	display:block;
}

.anyadir form.login input {
	width:180px;
}

.anyadir form.anyadirGnoss {
	padding-bottom:30px;
}


.anyadir form.anyadirBase ul{
	margin-left:60px;
}
.anyadir form.anyadirBase  ul ul {
	margin-left:30px;
}

.anyadir form.anyadirBase label.btGris {
	margin:30px 0 30px 220px;
}

/*                                                                                                                         Invitación a Gnoss
---------------------------------------------------------------------------------------------------------------------------------------------
*/
.registro .wrap375 label.chkLegal input {
	width:auto;
	margin-bottom:0;
}
#pestanyasInvitacion li {
    float: left;
    display: inline;
    margin-right: 5px;
    background: #E0E0E0;
	padding:5px;
}
#pestanyasInvitacion li.activo {
    background:#f9f9fb;
}
#pestanyasInvitaciona {
    float: left;
    display: inline;
    padding: 5px;
	color:#8186BD;
}
#pestanyasInvitacion li.activo a {
    outline: none;
}
div.pestanyaContactos, 
div.pestanyaCorreo {
	background:#f9f9fb;
	padding: 20px ;
	margin-top: 0px;
	margin-bottom:20px;
}
div.pestanyaContactos span.filtroRapido input{
	display:block;
	width:200px;
	margin:5px 0 15px 0;
}
div.pestanyaContactos .contactos {
	width:100%;
	border:1px solid #ddd;
	padding:15px 5px;
	overflow:auto;
	height:250px;
	display:block;
	position:relative;
}
div.pestanyaContactos .contactos  div.floatLeft{
	width:48%;
}
div.pestanyaContactos .listaContactos {
	margin:15px 0 0 5px;	
	width:auto;
}
div.pestanyaContactos .listaContactos span.fotoPerfil {
	margin-right:10px !important;
}

div.pestanyaCorreo form label input {
	display:block;
	width:280px;
}

/*LOZA : Cambio el form por un div para que se muestre bien*/
div.pestanyaCorreo div label input {
	display:block;
	width:280px;
}

div.panGris{    
    background: #E0E0E0;
	padding:15px;
}
/*-------------------------------------------------------------------*/

div.pestanyaCorreo  form.enviarContacto {
	width:350px;
}

div.pestanyaCorreo  form.enviarContacto label.boton {
	margin-top:15px;
}

.home .destacado {
    font-size: 1.2em;
    margin: 45px auto 10px;
    width: 700px;
}
.home .destacado p {
    display: inline;
    float: left;
    margin-top: 50px;
    width: 445px;
}