.administracionComunidad #section
{
    float: left;
    margin-left: 10px;  
    /*width: 950px;  */
}

/*.administracionComunidad #section .wrap710
{
    width: 950px;
}*/

#info.info,
#info.aviso,
#info.error{padding-right:60px; padding-left:60px; position:relative}

#info.info h3, #info.info a {
color: #006699;
}

#info.info h3
{
    font-weight: bold;
    line-height: 1.0;
}

#info {
    background: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 1em 0;
}

#info.info h3 span {
    background-position: -199px -790px;
}

#info h3 span {
    position: absolute;
    left: 1em;
    top: 1em;
    width: 40px;
    height: 40px;
    text-indent: -999em;
    background: url('../cssNuevo/resources/spriteIcons.png?v=2.1.1880') no-repeat -199px -790px;
}

.password #section {float: none; margin-top: 10px; margin-left:15px;}
.password #page { margin-top: -15px;}
.ko p span{ color: Red;}