@charset "utf-8";
/* Clearing */
.clear {
    float: none !important;
    clear: both;
    height: 1px;
    font-size: 1px;
    line-height: 0;
}

.noBgImg {
    background-image: none !important;
}

.floatLeft {
    float: left;
    display: inline !important;
}

.floatRight {
    float: right;
    display: inline !important;
}

.listaIndentada {
	padding-left: 2em;
	list-style: disc;
}

.listaIndentada ul {
	padding-left: 2em;
	list-style: circle;
}
