<?xml version="1.0" encoding="utf-8"?>
<!-- Fichero de configuración para la integración de GNOSS con otras redes sociales-->
<configuration>
  <Bitly>
    <BitlyUrl>http://api.bit.ly/</BitlyUrl>
    <BitlyVersion>2.0.1</BitlyVersion>
    <BitlyLogin>equipognoss</BitlyLogin>
    <BitlyApiKey>R_ab589f76a0a3bfc6ee11a0d1b5c7fe51</BitlyApiKey>
  </Bitly>
  <Twitter>
    <TwitterRequestToken>https://api.twitter.com/oauth/request_token</TwitterRequestToken>
    <TwitterAuth>https://api.twitter.com/oauth/authorize</TwitterAuth>
    <TwitterAccesToken>https://api.twitter.com/oauth/access_token</TwitterAccesToken>
    <TwitterCallbackURL>http://prered.gnoss.com/EnviarTwitter.aspx</TwitterCallbackURL>
    <TwitterConsumerKey>qjFL0Thsd0JXh4x854yRMMaBF</TwitterConsumerKey>
    <TwitterConsumerSecret>nQv6UKum6L4bgSirr6vmtJ8HHT6cRaEKKpXOXKHvpBB6e2Lzsi</TwitterConsumerSecret>
  </Twitter>
  <Yahoo>
    <YahooRequestToken>https://api.login.yahoo.com/oauth/v2/get_request_token</YahooRequestToken>
    <YahooAuth>https://api.login.yahoo.com/oauth/v2/request_auth?</YahooAuth>
    <YahooAccesToken>https://api.login.yahoo.com/oauth/v2/get_token</YahooAccesToken>
    <YahooConsumerKey>dj0yJmk9ck14NUFBdkhTbWR0JmQ9WVdrOVFsVTFVazFMTldjbWNHbzlOekU1T0Rjek16WXkmcz1jb25zdW1lcnNlY3JldCZ4PThi</YahooConsumerKey>
    <YahooConsumerSecret>08c075a85c5c000b50467056a980e127d952b02a</YahooConsumerSecret>
  </Yahoo>
  <WindowsLive>
    <!-- <WindowsLiveAppId>00000000400415A1</WindowsLiveAppId>
	  <WindowsLiveSecret>WuhG64RCBsefUpi5PnNGeYWfJx3k2sYR</WindowsLiveSecret>
	  <WindowsLiveSecurityAlgorithm>wsignin1.0</WindowsLiveSecurityAlgorithm>
	  <WindowsLiveReturnURL>http://localhost:2219/Es.Riam.Gnoss.Web.Principal/wlauth-handler.aspx</WindowsLiveReturnURL>
	  <WindowsLivePolicyURL>http://localhost:2219/Es.Riam.Gnoss.Web.Principal/</WindowsLivePolicyURL>-->
    <WindowsLiveAppId>000000004803C9D3</WindowsLiveAppId>
    <WindowsLiveSecret>YXqnOflEazJrgcBWikQSESHdtVWLR1zW</WindowsLiveSecret>
    <WindowsLiveSecurityAlgorithm>wsignin1.0</WindowsLiveSecurityAlgorithm>
    <WindowsLiveReturnURL>http://pruebas.gnoss.net/wlauth-handler.aspx</WindowsLiveReturnURL>
    <WindowsLivePolicyURL>http://gnoss.com/politica-privacidad</WindowsLivePolicyURL>
  </WindowsLive>
  <Gmail>
    <GmailNombreApplicacion>pruebas.gnoss.net</GmailNombreApplicacion>
    <GmailConsumerKey>www.pruebas.gnoss.net</GmailConsumerKey>
    <GmailConsumerSecret>qAwT46DphrV9i/iw453BFQj4</GmailConsumerSecret>
  </Gmail>
  <GoogleDrive>
    <GoogleDriveConsumerKey>713852122712-uagb0rl1a4jlvqg2u62m8stbie1b0ppn.apps.googleusercontent.com</GoogleDriveConsumerKey>
    <GoogleDriveConsumerSecret>oaAlUaKm9vz7Xpen09QvWkzq</GoogleDriveConsumerSecret>
    <GoogleDriveAccessToken>ya29.AHES6ZQab5ZoeiFGCiWeADIIX7X27R1NFRTpGUfuam3ihO-Pqw</GoogleDriveAccessToken>
    <GoogleDriveAccessTokenExpires>635073354128316193</GoogleDriveAccessTokenExpires>
    <GoogleDriveRefreshToken>1/nsp9Gse_RWGdL7dVktpJZfhBLZgM6laZ8rngU4gknnc</GoogleDriveRefreshToken>
    <GoogleDriveCallback>http://loginpruebas.gnoss.net/googleconnect.aspx</GoogleDriveCallback>
  </GoogleDrive>
</configuration>