<config>
  <version>2.0.0.0</version>

  <urlStatics>http://depuracion.net</urlStatics>
  <urlBase></urlBase>
  <JSYCSSunificado>1</JSYCSSunificado>
  <VistasV2>0</VistasV2>
  <NumeroPersonasEnvioNewsletter>10</NumeroPersonasEnvioNewsletter>
  <AzureStorageConnectionString>DefaultEndpointsProtocol=https;AccountName=s21presto;AccountKey=5YD97bF6is6QRjK1ASI6dy/nMimumTNku22N3L4A2OQoiKloyrk3McA0AOEVovTqM3cIPdwNT98I0w2OxUvDDg==|||shared-test|||content</AzureStorageConnectionString>
  <!--<IgnorarVistasPersonalizadas>true</IgnorarVistasPersonalizadas>-->
  
  <!--<OrganizacionGnoss>
    <OrganizacionID>b8080566-19b9-469e-bd78-011c735422ef</OrganizacionID>
    <ProyectoID>45bc4a22-c2b3-4a72-bbfd-fc61fc9ea993</ProyectoID>
  </OrganizacionGnoss>-->

</config>
