<config>
	<cadenaConexion></cadenaConexion>
	<tipoBD></tipoBD>
</config>


<!--
Ejemplo de cadena de conexión SQL Server

<config>
	<cadenaConexion>Server=nombreServidor;Database=nombreBD;User Id=usuario;Password=contraseña</cadenaConexion>
	<tipoBD>0</tipoBD>
</config>
-->


<!--
Ejemplo de cadena de conexión Oracle

<config>
	<cadenaConexion>DataSource=nombreServidor:puerto;User Id=usuario;Password=contraseña;Integrated Security=False</cadenaConexion>
	<tipoBD>1</tipoBD>
</config>
-->