<config>
  <urlServicioLogin>https://preloginlariojaturismo.gnoss.com</urlServicioLogin>
  <urlCurriculum>https://cv.depuracion.net</urlCurriculum>
  <urlServicioAutocompletar>http://preautocompletaretiquetas.gnoss.com</urlServicioAutocompletar>
  <urlServicioAutocompletarEtiquetas>http://preautocompletaretiquetas.gnoss.com</urlServicioAutocompletarEtiquetas>
  <urlServicioFacetas>http://prefacetas.gnoss.com</urlServicioFacetas>
  <urlServicioBrightcove>http://brightcove.gnoss.net</urlServicioBrightcove>
  <urlServicioEtiquetadoAutomatico>http://etiquetado.gnoss.net/etiquetas2</urlServicioEtiquetadoAutomatico>
  <urlServicioOauth>http://preoauth.gnoss.com</urlServicioOauth>
  <urlServicioFacetasHome>http://prefacetas.gnoss.com</urlServicioFacetasHome>
  <urlServicioFacetasViejo>http://prefacetas.gnoss.com</urlServicioFacetasViejo>
  <urlServicioAutocompletarHome>http://preautocompletaretiquetas.gnoss.com</urlServicioAutocompletarHome>

  <urlServicioResultados>http://preresultados.gnoss.com</urlServicioResultados>
  <urlServicioResultadosHome>http://preresultados.gnoss.com</urlServicioResultadosHome>
  <urlServicioResultadosViejo>http://preresultados.gnoss.com</urlServicioResultadosViejo>

  <urlServicioFlash>http://localhost:58705/ServivioWebFlash</urlServicioFlash>
  <urlServicioArchivos>http://prearchivos.gnoss.com</urlServicioArchivos>

  <urlHtmlPurifier></urlHtmlPurifier>

  <ideas4all>1</ideas4all>

  <claveApiGoogle>ABQIAAAAzr2EBOXUKnm_jVnk0OJI7xSosDVG8KKPE1-m51RBrvYughuyMxQ-i1QfUnH94QxWIa6N4U6MouMmBA</claveApiGoogle>

  <ipServicioSocketsOffline>127.0.0.1</ipServicioSocketsOffline>
  <puertoServicioSocketsOffline>1745</puertoServicioSocketsOffline>
</config>