<config>
  <!--<urlFicheroConfigXML>C:\Users\jruiz\Desktop\conexionOracle\pruebas_oracle.xml</urlFicheroConfigXML>-->
  <!--PRUEBAS-->
  <urlFicheroConfigXML>http://192.168.40.132/configbd/pruebas/bd_pruebas_depuracion.xml</urlFicheroConfigXML>
  
  <!-- <urlFicheroConfigXML>http://192.168.40.132/configbd/pruebas/bd_cotec.xml</urlFicheroConfigXML> -->
  

  <!--TRY GNOSS-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/pruebas/bd_trygnoss_depuracion.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/bd_pretry_depuracion.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/pruebas/bd_protrygnoss.xml</urlFicheroConfigXML>-->

  <!--GNOSS001-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/bd_preproduccion_depuracion.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/produccion/bd_gnoss001_depuracion.xml</urlFicheroConfigXML>-->

  <!--GNOSS002-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/produccion/bd_gnoss002_depuracion.xml</urlFicheroConfigXML>-->

  <!--Didactalia-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/pruebas/bd_pruebas_depuracion_didactalia.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/didactalia001_pre_depuracion.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/produccion/bd_didactalia_depuracion.xml</urlFicheroConfigXML>-->

  <!--La Rioja Turismo-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/pruebas/bd_pruebas_depuracion_lariojaturismo.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/bd_prelariojaturismo_depuracion.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/produccion/bd_lariojaturismo001_depuracion.xml</urlFicheroConfigXML>-->

  <!--El Prado-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/bd_preelprado_depuracion.xml</urlFicheroConfigXML>-->

  <!--Set21-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/preset21_depuracion.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/bd_set21_azure.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/produccion/set21.xml</urlFicheroConfigXML>-->

  <!--Inevery Crea-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/pruebas/bd_pruebasinvery_depuracion.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/ice_azure.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/produccion/bd_ice_produccion_azure.xml</urlFicheroConfigXML>-->

  <!--Triodos-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/bd_triodos_pre_depuracion.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/produccion/bd_triodos_depuracion.xml</urlFicheroConfigXML>-->

  <!--CRFP-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/pruebas/bd_pruebascrfp_depuracion.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/bd_crfp_depuracion.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/produccion/bd_crfp_depuracion.xml</urlFicheroConfigXML>-->

  <!--Linked Universities-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/bd_linkeduniversities_pre_depuracion.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/produccion/bd_universities001_depuracion.xml</urlFicheroConfigXML>-->

  <!--BBVA-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/bd_prebbva_depuracion.xml</urlFicheroConfigXML>-->

  <!--REDSARE-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/pruebas/bd_sare_depuracion.xml</urlFicheroConfigXML>-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/bd_preredsare_depuracion.xml</urlFicheroConfigXML>-->

  <!--ADVEO-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/bd_preadveo_depuracion.xml</urlFicheroConfigXML>-->

  <!--ADVEO 2-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/preproduccion/bd_preadveo2_depuracion.xml</urlFicheroConfigXML>-->

  <!--Testing-->
  <!--<urlFicheroConfigXML>http://192.168.40.132/configbd/pruebas/bd_testing.xml</urlFicheroConfigXML>-->

</config>