<div id="modal-eliminar-miembro" class="modal modal-top fade modal-edicion" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Confirmar eliminación de miembro</p>
                <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
            </div>
            <div class="modal-body">
                <div class="formulario-edicion">
                    <p>¿Estás seguro de que deseas eliminar a <span id="nombre-miembro-eliminar"></span> del rol <span id="nombre-rol-eliminar"></span>?</p>
                    <p>Esta acción no se puede deshacer.</p>
                    <div class="acciones">
                        <button id="btnEliminarMiembroOk" type="button" class="btn btn-primary uppercase" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-grey uppercase" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>