@*
Descripción
-----------------------------------------------
Vista parcial que contiene una tabla donde se muestran los últimos usuarios de Matomo. Por defecto está vacía. Los datos son cargados de forma dinámica vía JS.

Variables
----------------------------------------------------------------
*@

<div id="div_table_last_users" class="table-responsive d-none">
</div>
