@*
Descripción
-----------------------------------------------
Vista parcial que contiene una gráfico de tipo "pie" para mostrar en un gráfico de líneas-barras información de la comunidad.
*@

<div class="matomoContainer__pie">
    <div class="d-flex align-items-center justify-content-between">
        <h3 class="matomoContainer__header">Visitas a la comunidad</h3>        
    </div>
    <hr /> 
    <div class="matomoContainer__pieContent">
        <canvas id="chartId_0_line" class="matomoContainer--pie" aria-label="chart" width="500" height="260"></canvas>
    </div>
</div>

