@*
Descripción
-----------------------------------------------
Vista parcial que contiene una tabla donde se muestran la lista de los recursos que han recibido más votos en la comunidad.

Variables
----------------------------------------------------------------
*@

<div class="table-responsive matomoContainer__table">
    <h3 class="matomoContainer__header">Votos de recursos</h3>
    <hr />
    <table id="table_top_resources" class="table table-bordered">
        <thead>
            <tr>
                <th>Top</th>
                <th>Recurso</th>
                <th>Nº de votos</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td id="top1ResourceUrl" class="text-truncate"></td>
                <td id="top1ResourceVotes" class="text-truncate"></td>
            </tr>
            <tr>
                <td>2</td>
                <td id="top2ResourceUrl" class="text-truncate"></td>
                <td id="top2ResourceVotes" class="text-truncate"></td>
            </tr>
            <tr>
                <td>3</td>
                <td id="top3ResourceUrl" class="text-truncate"></td>
                <td id="top3ResourceVotes" class="text-truncate"></td>
            </tr>
            <tr>
                <td>4</td>
                <td id="top4ResourceUrl" class="text-truncate"></td>
                <td id="top4ResourceVotes" class="text-truncate"></td>
            </tr>
            <tr>
                <td>5</td>
                <td id="top5ResourceUrl" class="text-truncate"></td>
                <td id="top5ResourceVotes" class="text-truncate"></td>
            </tr>
        </tbody>
    </table>
</div>
