@*
Descripción
-----------------------------------------------
Vista parcial que contiene una tabla donde se muestra la información de los visitantes recientes a la comunidad

Variables
----------------------------------------------------------------
*@

<div class="table-responsive matomoContainer__table">
    <h3 class="matomoContainer__header">Visitas recientes</h3>
    <hr />
    <table id="table_recent_visitors" class="table table-bordered">
        <thead>
            <tr>
                <th>Top</th>
                <th>Visitante</th>
                <th>Duración</th>
                <th>Nº de visitas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td id="top1VisitRecent" class="text-truncate"></td>
                <td id="top1TimeRecent" class="text-truncate"></td>
                <td id="top1VisitNumberRecent" class="text-truncate"></td>
            </tr>
            <tr>
                <td>2</td>
                <td id="top2VisitRecent" class="text-truncate"></td>
                <td id="top2TimeRecent" class="text-truncate"></td>
                <td id="top2VisitNumberRecent" class="text-truncate"></td>
            </tr>
            <tr>
                <td>3</td>
                <td id="top3VisitRecent" class="text-truncate"></td>
                <td id="top3TimeRecent" class="text-truncate"></td>
                <td id="top3VisitNumberRecent" class="text-truncate"></td>
            </tr>
            <tr>
                <td>4</td>
                <td id="top4VisitRecent" class="text-truncate"></td>
                <td id="top4TimeRecent" class="text-truncate"></td>
                <td id="top4VisitNumberRecent" class="text-truncate"></td>
            </tr>
            <tr>
                <td>5</td>
                <td id="top5VisitRecent" class="text-truncate"></td>
                <td id="top5TimeRecent" class="text-truncate"></td>
                <td id="top5VisitNumberRecent" class="text-truncate"></td>
            </tr>
        </tbody>
    </table>
</div>
