@*
Descripción
-----------------------------------------------
Vista parcial que contiene una gráfico de tipo "pie" para mostrar los navegadores utilizados por los usuarios en la comunidad.
*@

<div class="matomoContainer__pie">    
    <h3 class="matomoContainer__header">Navegación web</h3>
    <hr />
    <div class="matomoContainer__pieContent">
        <canvas id="chartId_3" class="matomoContainer--pie" aria-label="chart" width="300" height="300"></canvas>
    </div>
</div>
