@*
Descripción
-----------------------------------------------
Vista parcial que contiene una tabla donde se muestran la lista de sitios web desde los cuales los visitantes llegan aL sitio web.

Variables
----------------------------------------------------------------
*@

<div class="table-responsive matomoContainer__table">
    <h3 class="matomoContainer__header">Webs que más nos referencian</h3>
    <hr />
    <table id="table_referred_websites" class="table table-bordered">
        <thead>
            <tr>
                <th>Top</th>
                <th>Página web</th>
                <th>Nº de visitas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td id="top1Referr" class="text-truncate"></td>
                <td id="top1ReferrNumber" class="text-truncate"></td>
            </tr>
            <tr>
                <td>2</td>
                <td id="top2Referr" class="text-truncate"></td>
                <td id="top2ReferrNumber" class="text-truncate"></td>
            </tr>
            <tr>
                <td>3</td>
                <td id="top3Referr" class="text-truncate"></td>
                <td id="top3ReferrNumber" class="text-truncate"></td>
            </tr>
            <tr>
                <td>4</td>
                <td id="top4Referr" class="text-truncate"></td>
                <td id="top4ReferrNumber" class="text-truncate"></td>
            </tr>
            <tr>
                <td>5</td>
                <td id="top5Referr" class="text-truncate"></td>
                <td id="top5ReferrNumber" class="text-truncate"></td>
            </tr>
        </tbody>
    </table>
</div>
