@*
Descripción
-----------------------------------------------
Vista parcial que contiene una tabla donde se muestran la lista de los recursos más comentarios han recibido en la comunidad.

Variables
----------------------------------------------------------------
*@

<div class="table-responsive matomoContainer__table">
    <div class="d-flex align-items-center justify-content-between">
        <h3 class="matomoContainer__header">Recursos más comentados</h3>
        <button id="parellelBtComments" class="parellelBtIndex btn btn-outline-primary matomoContainer__downloadButton">Descargar en CSV</button>
    </div>
    
    <hr />
    <table id="table_top_resources_commented" class="table table-bordered">
        <thead>
            <tr>
                <th>Top</th>
                <th>Recurso</th>
                <th>Nº de comentarios</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td id="top1ResourceUrl_Coments"></td>
                <td id="top1Resource_Coments"></td>
            </tr>
            <tr>
                <td>2</td>
                <td id="top2ResourceUrl_Coments"></td>
                <td id="top2Resource_Coments"></td>
            <tr>
                <td>3</td>
                <td id="top3ResourceUrl_Coments"></td>
                <td id="top3Resource_Coments"></td>
            </tr>
            <tr>
                <td>4</td>
                <td id="top4ResourceUrl_Coments"></td>
                <td id="top4Resource_Coments"></td>
            </tr>
            <tr>
                <td>5</td>
                <td id="top5ResourceUrl_Coments"></td>
                <td id="top5Resource_Coments"></td>
            </tr>
        </tbody>
    </table>
</div>
