@*
Descripción
-----------------------------------------------
Vista parcial que contiene una tabla donde se muestran la lista de las búsquedas realizadas en la comunidad.

Variables
----------------------------------------------------------------
*@

<div class="table-responsive matomoContainer__table">
    <h3 class="matomoContainer__header">Búsquedas destacadas</h3>
    <hr />
    <table id="table_top_searchs" class="table table-bordered">
        <thead>
            <tr>
                <th>Top</th>
                <th>Búsqueda</th>
                <th>Nº de búsquedas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="word-wrap: break-word">1</td>
                <td id="top1Search" class="text-truncate"></td>
                <td id="top1SearchNumber" class="text-truncate"></td>
            </tr>
            <tr>
                <td>2</td>
                <td id="top2Search" class="text-truncate"></td>
                <td id="top2SearchNumber" class="text-truncate"></td>
            </tr>
            <tr>
                <td>3</td>
                <td id="top3Search" class="text-truncate"></td>
                <td id="top3SearchNumber" class="text-truncate"></td>
            </tr>
            <tr>
                <td>4</td>
                <td id="top4Search" class="text-truncate"></td>
                <td id="top4SearchNumber" class="text-truncate"></td>
            </tr>
            <tr>
                <td>5</td>
                <td id="top5Search" class="text-truncate"></td>
                <td id="top5SearchNumber" class="text-truncate"></td>
            </tr>
        </tbody>
    </table>
</div>
