@*
Descripción
-----------------------------------------------
Vista parcial que contiene una gráfico de tipo "pie" para mostrar las plataformas utilizadas para navegar por los usuarios en la comunidad.
*@

<div class="matomoContainer__pie">  
  <h3 class="matomoContainer__header">Plataforma</h3>
    <hr />
    <div class="matomoContainer__pieContent">
        <canvas id="chartId_7" class="matomoContainer--pie" aria-label="chart" width="300" height="300"></canvas>
    </div>
</div>