@*
Descripción
-----------------------------------------------
Vista parcial que contiene una tabla donde se muestra la información detallada de los usuarios que han visitado las diferentes páginas existentes en la comunidad. Se mostrará información como el tiempo y el nº de visitas

Variables
----------------------------------------------------------------
*@

<div class="table-responsive matomoContainer__table">
    <h3 class="matomoContainer__header">Visitas destacadas</h3>
    <hr />
    <table id="table_visitors" class="table table-bordered">
        <thead>
            <tr>
                <th>Top</th>
                <th>Visitante</th>
                <th>Duración</th>
                <th>Nº de visitas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td id="top1Visit" class="text-truncate"></td>
                <td id="top1Time" class="text-truncate"></td>
                <td id="top1VisitNumber" class="text-truncate"></td>
            </tr>
            <tr>
                <td>2</td>
                <td id="top2Visit" class="text-truncate"></td>
                <td id="top2Time" class="text-truncate"></td>
                <td id="top2VisitNumber" class="text-truncate"></td>
            </tr>
            <tr>
                <td>3</td>
                <td id="top3Visit" class="text-truncate"></td>
                <td id="top3Time" class="text-truncate"></td>
                <td id="top3VisitNumber" class="text-truncate"></td>
            </tr>
            <tr>
                <td>4</td>
                <td id="top4Visit" class="text-truncate"></td>
                <td id="top4Time" class="text-truncate"></td>
                <td id="top4VisitNumber" class="text-truncate"></td>
            </tr>
            <tr>
                <td>5</td>
                <td id="top5Visit" class="text-truncate"></td>
                <td id="top5Time" class="text-truncate"></td>
                <td id="top5VisitNumber" class="text-truncate"></td>
            </tr>
        </tbody>
    </table>
</div>
