@using Es.Riam.Gnoss.AD.CMS
@model CMSAdminComponenteEditarViewModel.PropiedadComponente

@*
Descripción
-----------------------------------------------
Vista parcial que se utiliza para mostrar información de un componente CMS en formato TextArea (Input)

Variables
----------------------------------------------------------------
*@

@{
    string idiomaPanel = (string)ViewData["idiomaPanel"];
    string idPanel = "propiedad" + ((short)Model.TipoPropiedadCMS);
    string valorPropiedad = Model.Value;
    if (!string.IsNullOrEmpty(idiomaPanel))
    {
        idPanel += "_" + idiomaPanel;
        valorPropiedad = Html.ObtenerTextoDeIdioma(Model.Value, idiomaPanel, null, true);
    }

    string nombrePropiedad = Html.GetText("COMADMINCMS", "PROPIEDAD_" + Model.TipoPropiedadCMS);
    string classTextArea = "";

    @* Controlar si hace falta el ckEditor *@
    if ( Model.TipoPropiedadCMS.Equals(TipoPropiedadCMS.HTML) && Model.TypeComponent.Equals(TipoComponenteCMS.Destacado)
        || Model.TipoPropiedadCMS.Equals(TipoPropiedadCMS.HTML) && Model.TypeComponent.Equals(TipoComponenteCMS.HTML)
    )
    {
        classTextArea = "cke editorHtml";
    }
}

@*
----------------------------------------------------------------
-------------------- Vista parcial de tipo TextArea (Input) --------------------
*@

@* Contenedor del elemento Html *@
<div id="contenedorPrincipal_@idPanel" class="form-group mb-4">
    @* Label del elemento Html*@
    <label class="control-label d-block">@nombrePropiedad@(Model.Required ? " *" : "")</label>
    @* Elemento Html *@
    <textarea data-propertyid="@idPanel" class="@classTextArea form-control" cols="20">@valorPropiedad</textarea>

</div>



