.content h1,
.content h1 a{font-size:58px}

.demo{}
.demo.layout01{}
.demo .group{margin:0; padding:0}
.demo.layout01 #col01,
.demo.layout01 #col02,
.demo.layout01 #col03{background:#D9DBF7}
.demo.layout02 #col01,
.demo.layout02 #col02{background:#D9DBF7}
.demo.layout03 #col01,
.demo.layout03 #col02{background:#D9DBF7}
.demo.layout04 #col01{background:#D9DBF7}
.demo .resource{height:160px; margin:0 !important; padding:0 !important}

.demo .span-01,
.demo .span-02,
.demo .span-03,
.demo .span-04{background:#8186BD}

.resource{padding-left:0}

.group-title h2,
.group-title a{font-size:14px}

.resource.actividad{}
	.resource.actividad .resourceType{display:none}
	.resource.actividad .description{padding:0}
	.resource.actividad .author{height:50px; border:0}
	.resource.actividad .author a{font-weight:bold; color:#6491B4}
	.resource.actividad .author .imagenIcono{top:0; left:0; width:50px; height:50px}
	.resource.actividad .author .imagenIcono a{display:block}
	.resource.actividad .author .imagenIcono a img{max-width:50px; width:auto; height:auto}
	.resource.actividad .author{padding-left:60px !important}
	.resource.actividad .title{margin-top:-10px}
	.resource.actividad .title,
	.resource.actividad .content,
	.resource.actividad .categorias,
	.resource.actividad .etiquetas,
	.resource.actividad .utils-2,
	.resource.actividad .utils-1,
	.resource.actividad .utils,
	.resource.actividad .accionesusuario
		{margin-left:60px}
	.resource.actividad .utils-1
		{background:whitesmoke}
/*componente c0500*/
	.actividad.c0500{margin-top:10px}
	.actividad.c0500 .selector{position:absolute; top:0; right:0}
	.actividad.c0500 .author{background:whitesmoke; height:40px}
	#section .actividad.c0500 .miniatura{width:240px}
	#section .actividad.c0500 .miniatura a,
	#section .actividad.c0500 .miniatura a img
	{display:block}
	#section .actividad.c0500 .miniatura a img
	{max-width:100%; width:auto}
	.actividad.c0500 .author{padding-left:50px !important}
	.actividad.c0500 .author .imagenIcono{width:40px; height:40px}
	.actividad.c0500 .author .imagenIcono a img{max-width:100%}
	.actividad.c0500 .title{margin-top:0; margin-right:20px}
	.actividad.c0500 .title,
	.actividad.c0500 .content,
	.actividad.c0500 .categorias,
	.actividad.c0500 .etiquetas,
	.actividad.c0500 .utils-2,
	.actividad.c0500 .utils-1
		{margin-left:0}	
	#content .actividad.c0500 .description,
	.actividad.c0500 .content{margin:0}
	.actividad.c0500 .accionesusuario{float:right; margin:0; position:relative; top:-28px}
	.actividad.c0500 .accionesusuario p{display:none}
	.actividad.c0500 .accionesusuario ul,
	.actividad.c0500 .accionesusuario li
	{display:inline}
	.actividad.c0500 .accionesusuario ul
	{margin:0; padding:0; list-style:none}
	.actividad.c0500 .accionesusuario li
	{margin:0 10px 0 0}
/*componente c0500 vista mosaico */
	.mosaico-list{}
	.mosaico-list .c0500{border:1px solid #ddd; width:21%; display:inline-block; vertical-align:top; position:relative; padding:130px 1% 1%; margin-right:10px}
	#section .actividad.c0500 .title{margin-left:190px; margin-right:20px; margin-bottom:10px}
	#section .actividad.c0500 .description{clear:both}
	#section .actividad.c0500 .content p{margin-left:190px}
	#section .actividad.c0500 .content .miniatura{
		border: 0;
		float: none;
		margin: 0;
		padding: 0;
		max-width: 100%;
		min-width: auto;	
		position:absolute;
		top:0; left:0; width:180px;
	}
	.mosaico-list .c0500 .selector,
	.mosaico-list .c0500 .author,
	.mosaico-list .c0500 .accionesusuario,
	.mosaico-list .c0500 .etiquetas,
	.mosaico-list .c0500 .categorias
	{display:none}
		


/*header fixed theme01 */
#identidad-theme-01,
#header-theme-01{
	position:fixed;
	top:0; 
	left:0;
	width:100%
}
#identidad-theme-01{
	top:0;
	height:15px;
	overflow:hidden;
	z-index:9;
	height:100px
}
#header-theme-01{
	border-bottom:1px solid #ddd;
	top:15px; 
	z-index:10
}
#page{}
#page #section{min-height:480px}
/*reticula layout01 */
.layout01 .span-fila-04{margin-bottom:10px}
.layout01 .span-fila-04 .span-01,
.layout01 .span-fila-04 .span-02,
.layout01 .span-fila-04 .span-03
{float:left; margin-right:10px}
.layout01 .span-fila-04 .span-04{}
.layout01 .span-fila-04 .span-01{width:98px}
.layout01 .span-fila-04 .span-02{width:206px}
.layout01 .span-fila-04 .span-03{width:314px}
.layout01 .span-fila-04 .span-04{}
.layout01 .span-fila-04 .nomargin{margin-right:0}

.layout01 .span-fila-03{margin-bottom:10px}
.layout01 .span-fila-03 .span-01,
.layout01 .span-fila-03 .span-02
{float:left; margin-right:10px}
.layout01 .span-fila-03 .span-03{}
.layout01 .span-fila-03 .span-01{width:134px}
.layout01 .span-fila-03 .span-02{width:278px}
.layout01 .span-fila-03 .span-03{}
.layout01 .span-fila-03 .nomargin{margin-right:0}

.layout01 .span-fila-02{margin-bottom:10px}
.layout01 .span-fila-02 .span-01
{float:left; margin-right:10px}
.layout01 .span-fila-02 .span-02{}
.layout01 .span-fila-02 .span-01{width:206px}
.layout01 .span-fila-02 .span-02{}
.layout01 .span-fila-02 .nomargin{margin-right:0}

/*reticula layout02 */
.layout02 .span-fila-04{margin-bottom:10px}
.layout02 .span-fila-04 .span-01,
.layout02 .span-fila-04 .span-02,
.layout02 .span-fila-04 .span-03
{float:left; margin-right:10px}
.layout02 .span-fila-04 .span-04{}
.layout02 .span-fila-04 .span-01{width:173px}
.layout02 .span-fila-04 .span-02{width:356px}
.layout02 .span-fila-04 .span-03{width:539px}
.layout02 .span-fila-04 .span-04{}
.layout02 .span-fila-04 .nomargin{margin-right:0}

.layout02 .span-fila-03{margin-bottom:10px}
.layout02 .span-fila-03 .span-01,
.layout02 .span-fila-03 .span-02
{float:left; margin-right:10px}
.layout02 .span-fila-03 .span-03{}
.layout02 .span-fila-03 .span-01{width:234px}
.layout02 .span-fila-03 .span-02{width:478px}
.layout02 .span-fila-03 .span-03{}
.layout02 .span-fila-03 .nomargin{margin-right:0}

.layout02 .span-fila-02{margin-bottom:10px}
.layout02 .span-fila-02 .span-01
{float:left; margin-right:10px}
.layout02 .span-fila-02 .span-02{}
.layout02 .span-fila-02 .span-01{width:356px}
.layout02 .span-fila-02 .span-02{}
.layout02 .span-fila-02 .nomargin{margin-right:0}

/*reticula layout03 */
.layout03 .span-fila-04{margin-bottom:10px}
.layout03 .span-fila-04 .span-01,
.layout03 .span-fila-04 .span-02,
.layout03 .span-fila-04 .span-03
{float:left; margin-right:10px}
.layout03 .span-fila-04 .span-04{}
.layout03 .span-fila-04 .span-01{width:153px}
.layout03 .span-fila-04 .span-02{width:316px}
.layout03 .span-fila-04 .span-03{width:479px}
.layout03 .span-fila-04 .span-04{}
.layout03 .span-fila-04 .nomargin{margin-right:0}

.layout03 .span-fila-03{margin-bottom:10px}
.layout03 .span-fila-03 .span-01,
.layout03 .span-fila-03 .span-02
{float:left; margin-right:10px}
.layout03 .span-fila-03 .span-03{}
.layout03 .span-fila-03 .span-01{width:207px}
.layout03 .span-fila-03 .span-02{width:424px}
.layout03 .span-fila-03 .span-03{}
.layout03 .span-fila-03 .nomargin{margin-right:0}

.layout03 .span-fila-02{margin-bottom:10px}
.layout03 .span-fila-02 .span-01
{float:left; margin-right:10px}
.layout03 .span-fila-02 .span-02{}
.layout03 .span-fila-02 .span-01{width:316px}
.layout03 .span-fila-02 .span-02{}
.layout03 .span-fila-02 .nomargin{margin-right:0}

/*reticula layout04 */
.layout04 .span-fila-04{margin-bottom:10px}
.layout04 .span-fila-04 .span-01,
.layout04 .span-fila-04 .span-02,
.layout04 .span-fila-04 .span-03
{float:left; margin-right:10px}
.layout04 .span-fila-04 .span-04{}
.layout04 .span-fila-04 .span-01{width:230px}
.layout04 .span-fila-04 .span-02{width:470px}
.layout04 .span-fila-04 .span-03{width:710px}
.layout04 .span-fila-04 .span-04{}
.layout04 .span-fila-04 .nomargin{margin-right:0}

.layout04 .span-fila-03{margin-bottom:10px}
.layout04 .span-fila-03 .span-01,
.layout04 .span-fila-03 .span-02
{float:left; margin-right:10px}
.layout04 .span-fila-03 .span-03{}
.layout04 .span-fila-03 .span-01{width:310px}
.layout04 .span-fila-03 .span-02{width:630px}
.layout04 .span-fila-03 .span-03{}
.layout04 .span-fila-03 .nomargin{margin-right:0}

.layout04 .span-fila-02{margin-bottom:10px}
.layout04 .span-fila-02 .span-01
{float:left; margin-right:10px}
.layout04 .span-fila-02 .span-02{}
.layout04 .span-fila-02 .span-01{width:471px}
.layout04 .span-fila-02 .span-02{}
.layout04 .span-fila-02 .nomargin{margin-right:0}


#page{width:993px}
.homeComunidad.layout04.full #col01, .layout03.wide #col02{padding:10px 0; width:993px; margin:0}
.layout04.full{}
.layout04.full #content{}


/* rewrite layout css */
p.votos strong, p.votos a{display:inline; float:none; height:initial; line-height:1}
.utils-1 p.votos span.literal{position:static; top:initial; left:initial; display:block; float:left}
.resource-list .resource .utils-2 p, .resource-list .resource .utils-2 li, .resource-list .resource .categorias p, .resource-list .resource .categorias li, .resource-list .resource .etiquetas p, .resource-list .resource .etiquetas li{font-size:13px}

/* layout pages cms */
/*.layout04.full #col01{margin:0; padding:0; width:993px}*/
.row{font-size:0; padding:0; margin:10px auto 0; width:993px}
.row .col{display:inline-block; vertical-align:top; margin-right:19px; padding:0}
.row .col.break{margin-right:0}
.block{font-size:13px; margin-bottom:10px}
.span.break, .block.break{margin-right:0}

.col.span11{margin:10px auto}
.span11{width:993px}
.span12{width:487px}
.span16{width:149px}
.span13{width:318px}
.span23{width:655px}
.span14{width:234px}
.span34{width:740px}
.block{margin-bottom:10px; position:relative}


/* estructura básica componente  */
.resource .customAboutResource .resourceTools, 
.resource .resource-list .acciones ul li, 
.resource .summaryBio .acciones ul li{background:none}

/* estructura básica componente  */
.componente{}
	.componente .title{}
	.componente .content{}

.componente .title h2, 
.componente .title a	
{font-size:14px}
/* C0.3. Ficha Breve Usuario. myusercard  */
.myusercard{margin-bottom:20px}
	.myusercard .content,
	.myusercard .content{border:1px solid #ddd; border-bottom-width:2px}
	.myusercard .content{margin:0}
	#col02 .myusercard .content{margin:0}
	#section .myusercard p{margin:0; width:initial}
	#section .myusercard ul{margin:0; padding:0; list-style:none}
	#section .myusercard li{margin-bottom:0}
	
	.myusercard .group{margin:0 0 5px; padding:0 10px}
	.myusercard.horizontal .group{margin:0 0 5px; padding:0}
	.myusercard.horizontal .group.title{margin-top:10px}
	.myusercard .group.image{padding:2px}
	
	.myusercard .image{width:auto}
	.myusercard .image a{display:block}
	.myusercard .image a img{display:block; max-width:100%}
	.myusercard .categorias p,
	.myusercard .etiquetas p,
	.myusercard .acciones01 p,
	.myusercard .acciones02 p,
	.myusercard .actividad p
	{display:none}
	.myusercard .acciones02 li,
	.myusercard .categorias li,
	.myusercard .etiquetas li
	{display:inline-block}
	.ie7 .myusercard .acciones02 li,
	.ie7 .myusercard .categorias li,
	.ie7 .myusercard .etiquetas li	
	{display:inline}
	.myusercard .actividad{margin-bottom:0; border-top:1px solid #ddd; background:whitesmoke}
	.myusercard .actividad li{display:inline-block; width:70px; padding:10px; text-align:center}
		.ie7 .myusercard .actividad li{display:inline}
	.myusercard .actividad li.opSiguiendo{border-right:1px solid #ddd}
	
	.myusercard.horizontal{position:relative}
	#col02 .myusercard.horizontal .content{}
	.myusercard.horizontal .title,
	.myusercard.horizontal .from,
	.myusercard.horizontal .resume,
	.myusercard.horizontal .acciones01,
	.myusercard.horizontal .acciones02,
	.myusercard.horizontal .categorias,
	.myusercard.horizontal .etiquetas
	{margin-left:260px}
	.myusercard.horizontal .content{min-height:210px; padding-bottom:50px}
	.myusercard.horizontal .actividad{position:absolute; bottom:2px; left:1px; width:99.8%; margin-bottom:0}
		.ie7 .myusercard.horizontal .actividad{width:99.7%}
	.myusercard.horizontal .image{width:240px; position:absolute; top:0; left:0}
	
/* C0.4. Mosaico personas  */
.usercard{margin-bottom:20px}
	.usercard .content,
	.usercard .content{border:1px solid #ddd; border-bottom-width:2px}
	.usercard .content{margin:0}
	#col02 .usercard .content{margin:0}
	#section .usercard p{margin:0; width:initial}
	#section .usercard ul{margin:0; padding:0; list-style:none}
	#section .usercard li{margin-bottom:0}
	
	.usercard .group{margin:0 0 5px; padding:0 10px}
	.usercard.horizontal .group{margin:0 0 5px; padding:0}
	.usercard.horizontal .group.title{margin-top:10px}
	.usercard .group.image{padding:2px; margin-bottom:0}
	.usercard .group.acciones02{
		border-top: 1px solid #ddd;
		background: whitesmoke;
		margin-bottom: 0;
		margin-left:0; 
		padding:0
	}
	.usercard .group.acciones02 li{
		padding:6px 5px;
		border-right:1px solid #ddd;
	}
	
	/* groupList */
	.groupList.listviewmode{border-bottom:2px solid #ddd;}
	.groupList.listviewmode .usercard{margin-bottom:0;}
	.groupList.listviewmode .usercard .content{border-bottom:0}
	.groupList.listviewmode .usercard .group.from,
	.groupList.listviewmode .usercard .group.from,
	.groupList.listviewmode .usercard .group.resume,
	.groupList.listviewmode .usercard .group.categorias,
	.groupList.listviewmode .usercard .group.etiquetas,
	.groupList.listviewmode .usercard .opConectar,
	.groupList.listviewmode .usercard .opBiografia
	{display:none}
	.groupList.listviewmode .usercard .group.acciones02,
	.groupList.listviewmode .usercard .group.acciones02 li
	{background:none; border:0}
	.groupList.listviewmode .usercard .group.acciones02{position:absolute; left:75px; top:30px}
	
	#section .usercard .group.acciones02 li,
	#section .usercard .group.acciones02 li a
	{font-size:11px !important}

	
	.usercard .image{width:auto}
	.usercard .image a{display:block}
	.usercard .image a img{display:block; max-width:100%}
	.usercard .categorias p,
	.usercard .etiquetas p,
	.usercard .acciones01 p,
	.usercard .acciones02 p,
	.usercard .actividad p
	{display:none}
	.usercard .acciones02 li,
	.usercard .categorias li,
	.usercard .etiquetas li
	{display:inline-block}
	.ie7 .usercard .acciones02 li,
	.ie7 .usercard .categorias li,
	.ie7 .usercard .etiquetas li	
	{display:inline}
	.usercard .actividad{margin-bottom:0; border-top:1px solid #ddd; background:whitesmoke}
	.usercard .actividad li{display:inline-block; width:70px; padding:10px; text-align:center}
		.ie7 .usercard .actividad li{display:inline}
	.usercard .actividad li.opSiguiendo{border-right:1px solid #ddd}
	
	.usercard.horizontal{position:relative}
	#col02 .usercard.horizontal .content{}
	.usercard.horizontal .title,
	.usercard.horizontal .from,
	.usercard.horizontal .resume,
	.usercard.horizontal .acciones01,
	.usercard.horizontal .acciones02,
	.usercard.horizontal .categorias,
	.usercard.horizontal .etiquetas
	{margin-left:80px}
	.usercard.horizontal .content{}
	.usercard.horizontal .image{position:absolute; top:0; left:0}
	
	.usercard{}
	.userlist .wrap{margin-top:10px}
	/* grid view mode */
	.userlist.gridviewmode .usercard{margin:0; float:left; width:42px; margin-right:2px; margin-bottom:2px}
	.userlist.gridviewmode .usercard .content{border:0;}
	.userlist.gridviewmode .usercard .image{padding:0; margin:0}
	#section .userlist.gridviewmode .content{clear:none}
	
	/* list view mode */
	.userlist.listviewmode .usercard .content{position:relative}
	.userlist.listviewmode .usercard .title,
	.userlist.listviewmode .usercard .from
	{position:absolute; left:70px}
	.userlist.listviewmode .usercard .title{top:10px}
	.userlist.listviewmode .usercard .from{top:30px}

/* C1.0. componente destacado  */
.destacado{background:whitesmoke; margin-bottom:10px}
.destacado .content{margin:0}
	.destacado a{color:#8186BD}
	.destacado.horizontal{background:whitesmoke; height:240px; overflow:hidden}
	#col02 .destacado.horizontal .content{margin:0}
	.destacado.horizontal .content .title{width:49%; margin-right:1%; max-height:240px; float:left}
	.destacado.horizontal .content .title  h2{}
	.destacado.horizontal .content .title  .resumen{margin:10px 0}
	.destacado.horizontal .content .title  .resumen p{font-size:15px}
	.destacado.horizontal .content .image{width:50%; float:right; margin:0; height:240px; background:#fff}
	.destacado.horizontal .content .image a,
	.destacado.horizontal .content .image a img
	{display:block; max-height:100%; max-width:100%}
	.destacado.horizontal .content .componente {clear:both; max-width:50%; float:left; margin-top:-60px}
	
	.destacado.vertical .content{}
	.destacado.vertical .content .title{}
	.destacado.vertical .content .title  h2{}
	.destacado.vertical .content .title  .resumen{margin:10px 0}
	.destacado.vertical .content .title  .resumen p{font-size:15px}
	.destacado.vertical .content .image{}
	.destacado.vertical .content .image a,
	.destacado.vertical .content .image a img
	{display:block; max-width:100%;}
	.destacado.vertical .content .componente {padding:0}	
	.destacado.vertical .content .componente p {line-height:1.5}	
	.destacado .content .componente p {line-height:1.5}	
	.destacado .content .componente p a{white-space:nowrap}	

/* C1.4. componente noticias  */
.noticiaCard{margin-bottom:10px}
	.noticiaCard .content,
	.noticiaCard .content{border:1px solid #ddd; border-bottom-width:2px}
	.noticiaCard .content{margin:0}
	#col02 .noticiaCard .content{margin:0}
	#section .noticiaCard p{margin:0; width:initial}
	#section .noticiaCard ul{margin:0; padding:0; list-style:none}
	#section .noticiaCard li{margin-bottom:0}
	
	.noticiaCard .group{margin:0 0 5px; padding:0 10px}
	.noticiaCard.horizontal .group{margin:0 0 5px; padding:0}
	.noticiaCard.horizontal .group.title{margin-top:10px}
	.noticiaCard .group.image{padding:2px}
	
	.noticiaCard .image{width:auto}
	.noticiaCard .image a{display:block}
	.noticiaCard .image a img{display:block; max-width:100%}
	.noticiaCard .categorias p,
	.noticiaCard .etiquetas p,
	.noticiaCard .acciones01 p,
	.noticiaCard .acciones02 p,
	.noticiaCard .actividad p
	{display:none}
	.noticiaCard .acciones02 li,
	.noticiaCard .categorias li,
	.noticiaCard .etiquetas li
	{display:inline-block}
	.ie7 .noticiaCard .acciones02 li,
	.ie7 .noticiaCard .categorias li,
	.ie7 .noticiaCard .etiquetas li	
	{display:inline}
	.noticiaCard .actividad{margin-bottom:0; border-top:1px solid #ddd; background:whitesmoke}
	.noticiaCard .actividad li{display:inline-block; width:70px; padding:10px; text-align:center}
		.ie7 .noticiaCard .actividad li{display:inline}
	.noticiaCard .actividad li.opSiguiendo{border-right:1px solid #ddd}
	
	.noticiaCard.horizontal{position:relative}
	#col02 .noticiaCard.horizontal .content{}
	.noticiaCard.horizontal .title,
	.noticiaCard.horizontal .date,
	.noticiaCard.horizontal .from,
	.noticiaCard.horizontal .resume,
	.noticiaCard.horizontal .acciones01,
	.noticiaCard.horizontal .acciones02,
	.noticiaCard.horizontal .categorias,
	.noticiaCard.horizontal .etiquetas
	{margin-left:140px}
	
	.noticiaCard.horizontal .content{min-height:initial; padding-bottom:10px}
	.noticiaCard.horizontal .actividad{position:absolute; bottom:2px; left:1px; width:99.8%; margin-bottom:0}
		.ie7 .noticiaCard.horizontal .actividad{width:99.7%}
	.noticiaCard.horizontal .image{width:120px; position:absolute; top:6px; left:6px}	
	
	.componenteNoticias{}
	.componenteNoticias .tituloComponente{font-weight:bold; margin-bottom:5px}
	.componenteNoticias .paginador{list-style:none; margin:0; padding:0; text-align:right}
	.componenteNoticias .paginador li{display:inline; margin-right:5px}
	.componenteNoticias .listadoNoticiasCompleto{text-align:right}

/* C1.7. componente profesor  */
.profesorCard{background:whitesmoke}
#section .profesorCard .content{padding:10px}
.profesorCard.horizontal .content{
	min-height: 200px;
	padding: 10px;
}
.profesorCard.horizontal .title,
.profesorCard.horizontal .date,
.profesorCard.horizontal .from,
.profesorCard.horizontal .resume,
.profesorCard.horizontal .acciones01,
.profesorCard.horizontal .acciones02,
.profesorCard.horizontal .categorias,
.profesorCard.horizontal .etiquetas
{margin-left:10px}
.myusercard.profesorCard .group{margin:0; padding:0}
.myusercard.profesorCard.horizontal .group.title{margin-top:0}
.myusercard.profesorCard.horizontal .content{font-size:0}
.myusercard.profesorCard .image{margin:10px 0}
.myusercard.profesorCard.horizontal .image{position:static; display:inline-block; margin-top:10px; margin-bottom:0; vertical-align:top}
.myusercard.profesorCard.horizontal .contenido{display:inline-block; width:44%; vertical-align:top; margin-top:10px; margin-left:10px}
#section .profesorCard h2 a{font-size:16px !important}
#section .profesorCard .resumen *{font-size:14px !important}
	.profesorCard .resumen *{color:#aaa}

/* c1.8 darse de alta*/
.cp0108{background:whitesmoke; padding:10px}
.cp0108 .titulo{display:none}
.cp0108 .alta p{font-size:14px}
.cp0108 .alta p a{background:#8186BD; color:white; 
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
padding:4px 20px; 
font-weight:bold
}
.span-fila-04 .span-01 .cp0108 .alta p a{display:block; margin-top:6px}

/* c2.0 Presentate */
.cp0200{}
.span-02 .cp0200{}
.span-02 .cp0200 .fieldset p textarea.text.big{width:80%}
.span-01 .cp0200{}
.span-01 .cp0200 .fieldset p label,
.span-01 .cp0200 .fieldset p textarea
{width:92%; display:block; float:none}
.span-01 .cp0200 .actionButtons .mediumLabels{margin-left:0}

/* c4.0 contactos */
.span-04 .cp0400 .resource{width:32%}
.span-03 .cp0400 .resource,
.span-02 .cp0400 .resource
{width:48%}
.cp0400 .resource{display:inline-block; vertical-align:top; margin:16px 8px 0 0}
.cp0400 .resource .title{margin-bottom:0}
.cp0400 .resource .description{margin:0 0 0 60px}
.cp0400 .resource .localizacion,
.cp0400 .resource .acciones{margin:0; border:0}
.cp0400 .resource .acciones li{margin-right:2px}

/* c4.1 usuarios */
.span-04 .resource{width:24%}
.span-03 .cp0401 .resource{width:32%}
.span-02 .cp0401 .resource{width:48%}
.cp0401 .resource{display:inline-block; vertical-align:top; margin:16px 8px 0 0}
.cp0401 .resource .title{margin-bottom:0}
.cp0401 .resource .description{margin:0 0 0 60px}
.cp0401 .resource .localizacion,
.cp0401 .resource .acciones{margin:0; border:0}
.cp0401 .resource .acciones li{margin-right:2px}

/* c6.2 proyectos */
.cp0602{background:whitesmoke}
.cp0602.activado{background:#ededed}
.cp0602 .navegacion div{font-size:13px}
.cp0602 .item-titulo{font-size:14px; font-weight:bold; color:#386C94}
.cp0602.activado .navegacion{}
.cp0602.activado .items{}

.cp0602.activado .navegacion .item-tab.activo{background:#ededed}
.cp0602.activado .navegacion .item-tab{background:whitesmoke}
.span-fila-04 .cp0602.activado .navegacion .item-tab.activo {border-right-color:#eee}


.span-fila-04 .span-04 .cp0602{font-size:0; border:1px solid #ddd;}
.span-fila-04 .span-04 .cp0602 .navegacion,
.span-fila-04 .span-04 .cp0602 .items{display:inline-block; vertical-align:top}
.span-fila-04 .span-04 .cp0602 .navegacion{width:257px}
.span-fila-04 .span-04 .cp0602 .items{width:769px; padding:10px 20px}
.span-fila-04 .span-04 .cp0602 .navegacion .item-tab{border-right:1px solid #ddd; padding:10px; border-bottom:1px solid #ddd}

.span-fila-04 .span-03 .cp0602{font-size:0; border:1px solid #ddd;}
.span-fila-04 .span-03 .cp0602 .navegacion,
.span-fila-04 .span-03 .cp0602 .items{display:inline-block; vertical-align:top}
.span-fila-04 .span-03 .cp0602 .navegacion{width:257px}
.span-fila-04 .span-03 .cp0602 .items{width:498px; padding:10px 20px}
.span-fila-04 .span-03 .cp0602 .navegacion .item-tab{border-right:1px solid #ddd; padding:10px; border-bottom:1px solid #ddd}

.span-fila-04 .span-02 .cp0602{font-size:0; border:1px solid #ddd;}
.span-fila-04 .span-02 .cp0602 .navegacion,
.span-fila-04 .span-02 .cp0602 .items{display:inline-block; vertical-align:top}
.span-fila-04 .span-02 .cp0602 .navegacion{width:257px}
.span-fila-04 .span-02 .cp0602 .items{width:229px; padding:10px 20px}
.span-fila-04 .span-02 .cp0602 .navegacion .item-tab{border-right:1px solid #ddd; padding:10px; border-bottom:1px solid #ddd}

.span-fila-04 .span-01 .cp0602{font-size:0}
.span-fila-04 .span-01 .cp0602 .navegacion,
.span-fila-04 .span-01 .cp0602 .items{}
.span-fila-04 .span-01 .cp0602 .navegacion{border-bottom:1px solid #ddd;}
.span-fila-04 .span-01 .cp0602 .items{padding:10px}
.span-fila-04 .span-01 .cp0602 .navegacion .item-tab{border:1px solid #ddd; padding:10px; border-bottom:0}

.span12 .cp0602{font-size:0; border:1px solid #ddd;}
.span12 .cp0602 .navegacion,
.span12 .cp0602 .items{display:inline-block; vertical-align:top}
.span12 .cp0602 .navegacion{width:210px}
.span12 .cp0602 .items{width:230px; padding:10px 20px}
.span12 .cp0602 .navegacion .item-tab{border-right:1px solid #ddd; padding:10px; border-bottom:1px solid #ddd}

.fieldset .textarea{}
.fieldset .textarea label{vertical-align:top}
.fieldset .textarea textarea{min-width:50%}

/* comportamientos general javascript */
/* componentePaginado */
.jsColumnaComponentePaginado{}
.paginador.jsActivado{}
.paginador.jsActivado{margin:0; list-style:none; padding:0}
.paginador.jsActivado li{display:inline-block}
/* componenteTabulado */
.group.tabsGroup{margin:10px}
.tabsGroup .block{padding:10px; border:1px solid #ddd; border-top:0}
.tabsGroup .tabspresentation{margin-top:0}
.tabsGroup .tabspresentation li{background:whiteSmoke}
.tabsGroup .tabspresentation li.active{background:#fff}

.tabsGroup.tabsVertical{padding-left:150px; position:relative}
.tabsGroup.tabsVertical .tabspresentation{position:absolute; left:0; top:0; width:151px; border:0; z-index:10}
.tabsGroup.tabsVertical .tabspresentation ul{border:0; bottom:0; border-bottom:1px solid #ddd}
.tabsGroup.tabsVertical .tabspresentation li
{display:block; float:none; border:1px solid #ddd; border-bottom:0}
.tabsGroup.tabsVertical .tabspresentation li.active{border-right-color:#fff}
.tabsGroup.tabsVertical .tabspresentation li a{}
.tabsGroup.tabsVertical .block{border:1px solid #ddd}

/* componente listado recursos */
.span34 .resource-list.gridView{}
.span34 .resource-list.gridView .resource{width:234px; margin:0 19px 19px 0; padding:0}
.span34 .resource-list.gridView .resource.omega{margin-right:0}
.span34 .resource-list.gridView .resource .miniatura a,
.span34 .resource-list.gridView .resource .miniatura a img{display:block; max-width:100%}
.span34 .resource-list.gridView .resource .description{margin:0; padding:0}
/* componente listado recursos */
.span11 .resource-list.gridView{}
.span11 .resource-list.gridView .resource{width:234px; margin:0 19px 19px 0; padding:0}
.span11 .resource-list.gridView .resource.omega{margin-right:0}
.span11 .resource-list.gridView .resource .miniatura a,
.span11 .resource-list.gridView .resource .miniatura a img{display:block; max-width:100%}
.span11 .resource-list.gridView .resource .description{margin:0; padding:0}

/*ie7 y ie8 @media*/

/*reticula layout01 */
.widescreen .layout01 .span-fila-04 .span-01{width:125px}
.widescreen .layout01 .span-fila-04 .span-02{width:260px}
.widescreen .layout01 .span-fila-04 .span-03{width:395px}

.widescreen .layout01 .span-fila-03 .span-01{width:170px}
.widescreen .layout01 .span-fila-03 .span-02{width:350px}

.widescreen .layout01 .span-fila-02 .span-01{width:260px}

/*reticula layout02 */
.widescreen .layout02 .span-fila-04 .span-01{width:201px}
.widescreen .layout02 .span-fila-04 .span-02{width:412px}
.widescreen .layout02 .span-fila-04 .span-03{width:623px}

.widescreen .layout02 .span-fila-03 .span-01{width:272px}
.widescreen .layout02 .span-fila-03 .span-02{width:554px}

.widescreen .layout02 .span-fila-02 .span-01{width:413px}

/*reticula layout03 */
.widescreen .layout03 .span-fila-04 .span-01{width:181px}
.widescreen .layout03 .span-fila-04 .span-02{width:372px}
.widescreen .layout03 .span-fila-04 .span-03{width:563px}

.widescreen .layout03 .span-fila-03 .span-01{width:245px}
.widescreen .layout03 .span-fila-03 .span-02{width:500px}

.widescreen .layout03 .span-fila-02 .span-01{width:373px}

/*reticula layout04 */
*:first-child+html .mosaico-list .c0500,
*:first-child+html .row .col,
*:first-child+html .myusercard .acciones02 li,
*:first-child+html .myusercard .categorias li,
*:first-child+html .myusercard .etiquetas li,
*:first-child+html .myusercard .actividad li,
*:first-child+html .usercard .acciones02 li,
*:first-child+html .usercard .categorias li,
*:first-child+html .usercard .etiquetas li,
*:first-child+html .usercard .actividad li,
*:first-child+html .noticiaCard .acciones02 li,
*:first-child+html .noticiaCard .categorias li,
*:first-child+html .noticiaCard .etiquetas li,
*:first-child+html .noticiaCard .actividad li,
*:first-child+html .myusercard.profesorCard.horizontal .image,
*:first-child+html .myusercard.profesorCard.horizontal .contenido,
*:first-child+html .cp0400 .resource,
*:first-child+html .cp0401 .resource,
*:first-child+html .span-fila-04 .span-04 .cp0602 .navegacion,
*:first-child+html .span-fila-04 .span-04 .cp0602 .items,
*:first-child+html .span-fila-04 .span-03 .cp0602 .navegacion,
*:first-child+html .span-fila-04 .span-03 .cp0602 .items,
*:first-child+html .span-fila-04 .span-02 .cp0602 .navegacion,
*:first-child+html .span-fila-04 .span-02 .cp0602 .items,
*:first-child+html .span12 .cp0602 .navegacion,
*:first-child+html .span12 .cp0602 .items{display:inline}