a
{
	cursor:pointer;	
}

#corporativo .content {
    top: 1em;
}

#corporativo p {
    color: #888888;
}

#SubirRecurso .text, .autoriaRec .text
{
	width:98% !IMPORTANT;
	min-height:inherit;
}

.editorLector label
{
	margin-right:10px;
}

.licenciaDoc div
{
	display: block !IMPORTANT;
}

.cajaLicencia img
{
	vertical-align:top;
	margin-left:5px;
}

.stateShowForm .contactos
{
	background: none repeat scroll 0 0 white;
    border: 1px solid #aaaaaa;
    margin-top: -10px;
    padding: 0 15px;
    position: absolute;
    width: 280px;
    z-index: 9990;
}

.stateShowForm .contactos h4 a
{
	font-weight: normal;
}

.stateShowForm .contactos p.resourceType ,
.stateShowForm .contactos p.resourceType a,
.stateShowForm .contactos p.resourceType img
{
	height:40px;
	width:40px;
}

.stateShowForm .contactosAgregados span
{
	margin-right:10px;
}

.tituloComunidad a.tituloEnlace
{
	font-size:small
}

.error
{
	color:Red;
}

#seleccTipoRecurso ul
{
	list-style-image: url("../img/dotListadoGris.gif");
	margin-left: 25px;
}

#seleccTipoRecurso li
{
	margin-bottom: 8px;
}

#seleccTipoRecurso div
{
	margin-top: 10px;
	width: 100%;
}

#seleccTipoRecurso div.ko
{
	width: inherit;
}

.envioInv
{
	padding:0;
}

.pBrightcove
{
	margin-top:30px;
}

.compartirRec select
{
	width:400px;
}

.contactos .resource .title h4
{
	font-size:1.4em;
}

.encuestas
{
	margin-bottom:0;
}

.encuentas label
{
	display:inline !IMPORTANT;
}

.encuestas input.opcion
{
	width:430px;
	margin-right:5px;
}

.encuestas input.imagen
{
	vertical-align:middle;
	margin-right:5px;
}

.filtroRapido span.searchButton {
    background: url("resources/spriteIcons.png?v=2.1.1880") no-repeat scroll -117px -907px transparent;
    border: 0 none;
    display: block;
    float: left;
    height: 24px;
    /*position: absolute;*/
    right: 0;
    text-indent: -999em;
    top: 0;
    width: 24px;
}

.filtroRapido input.filtroFaceta 
{
	border: 0 none;
    float: left;
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
    width: 280px;
}

#divCompartido li a.remove, ul.icoEliminar li a.remove, .formSemEdicion a.remove{
    background: url("resources/spriteIcons.png?v=2.1.1880") no-repeat scroll -222px -678px transparent;
    display: block;
    float: right;
    height: 16px;
    margin-left: 5px;
    text-indent: -999em;
    width: 16px;
    cursor:pointer;
}

#divCompartido li
{
	display: inline-block;
}

ul.icoEliminar li
{
	display: inline-block;
	margin-right:5px;
}

div.verMasGadgets
{
	float:right;
}

/*Comparador de versiones*/

.cod1
{
	color:#FF0000;
	text-decoration:line-through;
}
.cod1 img
{
	background-color:#FF5555;
}
.cod2
{
	background-color:#99FF99;
}

/*Fin comparador de versiones*/


.resource-list .resourceType.persona a{background-position:-58px -61px; text-indent: 0;}
.resource-list .resourceType.organizacion a{background-position:-119px -305px; text-indent: 0;}	

.resource .resourceType.persona a{background-position:-58px -61px; text-indent: 0;}	
.resource .resourceType.organizacion a{background-position:-119px -305px; text-indent: 0;}	

.resource .resourceType.conImagenPerfil.persona a {background:none}
.resource-list .resourceType.conImagenPerfil.persona a {background:none}
.resource .resourceType.conImagenPerfil.organizacion a {background:none}
.resource-list .resourceType.conImagenPerfil.organizacion a {background:none}

.resource .resourceType.conImagenPerfil{width:54px;height:54px}

.layout02 #col03{display:none;}

.summaryBio .resource{padding-left:0;}

.summaryBio .group{ background:Lavender; padding:1em; margin:0;}
.summaryBio .group.etiquetas, 
.summaryBio .group.social{ padding-top:0em; margin:0;}
.summaryBio .group.acciones{ background:none; padding:0; margin:1em 0;}

/*
.resource .resourceType.audio a {background-position: 0 -305px;}
.resource .resourceType.video a {background-position: 0 -246px;}

.layout01 .resource-list .resourceType.imagen a{background-position:0 -830px}
.layout01 .resource-list .resourceType.semantico a{background-position:0 -791px}
.layout01 .resource-list .resourceType.presentacion a{background-position:-58px -867px}
.layout01 .resource-list .resourceType.pdf a{background-position:-58px -830px}	
.layout01 .resource-list .resourceType.xls a{background-position:-58px -714px}
.layout01 .resource-list .resourceType.zip a{background-position:-115px -638px}	
.layout01 .resource-list .resourceType.debate a{background-position:-57px -792px}	
.layout01 .resource-list .resourceType.encuesta a{background-position:-58px -675px}
.layout01 .resource-list .resourceType.dafo a{background-position:-58px -753px}
.layout01 .resource-list .resourceType.video a{background-position:0 -754px}	
.layout01 .resource-list .resourceType.audio a {background-position: 0 -790px;}
.layout01 .resource-list .resourceType.onto a{background-position:0 -791}
.layout01 .resource-list .resourceType.question a{background-position:-57px -599px}
.layout01 .resource-list .resourceType.documento a{background-position:0 -908px}	
.layout01 .resource-list .resourceType.newsletter a{background-position:-1px -790px}	
.layout01 .resource-list .resourceType.hipervinculo a{background-position:0 -599px}	
.layout01 .resource-list .resourceType.wiki a{background-position:0 -867px}	

.resource .resourceType{font-size:100%; height:51px; overflow:hidden; position:absolute; top:0; left:0}
.resource .resourceType.semantico a{background-position:-0px -183px}	
.resource .resourceType.presentacion a{background-position:-58px -427px}
.resource .resourceType.pdf a{background-position:-58px -366px}	
.resource .resourceType.xls a{background-position:-58px -184px}	
.resource .resourceType.zip a{background-position:-118px -61px}	
.resource .resourceType.debate a{background-position:-58px -305px}	
.resource .resourceType.encuesta a{background-position:-58px -123px}
.resource .resourceType.dafo a{background-position:-58px -246px}
.resource .resourceType.onto a{background-position:-0px -305px}		
.resource .resourceType.newsletter a{background-position:0 -181px}

.resource-list .resourceType{font-size:100%; height:51px; overflow:hidden; position:absolute; top:0; left:0}
.resource-list .resourceType.semantico a{background-position:0 -183px}
.resource-list .resourceType.presentacion a{background-position:-58px -427px}
.resource-list .resourceType.pdf a{background-position:-58px -368px}
.resource-list .resourceType.xls a{background-position:-58px -184px}	
.resource-list .resourceType.zip a{background-position:-118px -61px}	
.resource-list .resourceType.debate a{background-position:-58px -305px}	
.resource-list .resourceType.encuesta a{background-position:-58px -123px}
.resource-list .resourceType.dafo a{background-position:-58px -246px}
.resource-list .resourceType.onto a{background-position:0 -305px}
.resource-list .resourceType.question a{background-position:-58px -1px}	
.resource-list .resourceType.persona a{background-position:-58px -61px}	
*/
.resource-list .resourceType.privado span.privado {    
    bottom: 0px;
}

{zoom:1}  /*ie7*/

#comments .options{  padding-left: 0; padding-top: 5px;}

.resource .acciones ul li{	
	margin-right:0.6em;
}

.resource .acciones ul li.accionrecurso{	
	margin-right:0;
}

p.vertodos {
    text-align: left;
}

.cke_editor .cke_top .cke_toolbox_collapser,
.cke_editor .cke_bottom
{display:none;}


fieldset.labels .newsletter label
{
	display:inline;
}

iframe.newsletter {border:1px solid #EEEEEE}

.newsletter #col02{width:90em !important}

.listView .resource .content img {
    display: block;
}

/*Ficha proyecto Gadget*/
.proyectos-list .title h4 {
    font-size: 1.3em;
}
.proyectos-list .proyecto {
    padding-left: 0;
    min-height:50px;
    margin-top:10px;
}
.proyecto {
    position: relative;
}
.proyectos-list .proyectType {
    font-size: 100%;
    height: 55px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 55px;
}
.proyectos-list .description {
    padding-left: 60px;
    position: relative;
}

#col03 .publicacion {
    margin-bottom: 10px;
}

.tooltip {
	position: absolute;
	z-index: 2000;
	padding: 3px;
	border: 1px solid #CCC;
    	background: #FFF;
    	text-align: left;
}

.tooltip .nombre {
	color:#477CA8;
	font-weight:bold;
}

.relatedInfoWindow p,
.relatedInfoWindow li{margin:0; color:#747474; font-size:11px; font-family:"Lucida Sans", Lucida Grande, Lucida Sans Unicode,Helvetica,sans-serif}
.relatedInfoWindow li{margin-bottom:6px; list-style: none outside none;}
.relatedInfoWindow p.poweredby{text-align:right; height:25px; line-height:25px; }
.relatedInfoWindow p.poweredby a{height:25px; line-height:25px; background:url('../img/spriteInfoWindow.png') no-repeat 0 3px; width:60px; display:block; position:relative; float:right; overflow:hidden;}
.relatedInfoWindow p.poweredby a strong{position:absolute; left:-9999em; top:-999em}	
.relatedInfoWindow,
.relatedInfoWindow div{display:block !important}
.relatedInfoWindow{padding:0 10px 10px; background:#F5F5F5}
.relatedInfoWindow div.wrapRelatedInfoWindow{background:white; padding:9px; border:1px solid #ddd; margin-bottom:4px}
.relatedInfoWindow span.moreInfo{display:block}
.relatedInfoWindow p.titulo{margin-bottom:6px}
.relatedInfoWindow p.resource{height:30px; line-height:30px; margin-bottom:-6px}
.relatedInfoWindow p.resource,
.relatedInfoWindow ul{padding-left:36px}
.relatedInfoWindow p.resource{background:url('../img/spriteInfoWindow.png') no-repeat 0 0}
.relatedInfoWindow p.resource a{}
.relatedInfoWindow .newYorkTimes p.resource{background-position:0 -70px}
.relatedInfoWindow .freeBase p.resource{background-position:0 -105px}
.relatedInfoWindow .dbpedia p.resource{background-position:0 -280px}
.relatedInfoWindow .moreInfo a{background:url('../img/spriteInfoWindow.png') no-repeat 0 0; padding-left:20px}
.relatedInfoWindow .moreInfo a.dbpedia{background-position: 0 -149px}
.relatedInfoWindow .moreInfo a.wikipedia{background-position: 0 -176px}
.relatedInfoWindow .moreInfo a.geonames{background-position: 0 -198px}
.relatedInfoWindow .moreInfo a.newYorkTimes{background-position: 0 -225px}
.relatedInfoWindow .moreInfo a.freeBase{background-position: 0 -250px}


.relatedInfoWindow li.moreLinks span{display:inline-block}

.prepararClases {border-bottom-color:#DDD !important;margin-bottom:10px}


.indiceCat ul.tools
{
	padding: 0;
	padding-bottom:10px;
}

.layout03 #col01 .community h3 {
display: block;
}
.listView .listado {
    display:block;
}

.listView .mosaico {
    display:none;
}

.gridView .listado {
    display:none;
}

.gridView .mosaico {
    display:block;
}

/* Pie catálogo */
.gnossIntegrate h4 a img {
    width: 66px;
}
.gnossIntegrate{
	float: right;
    height: 25px;
}

.gnossIntegrate h4, .gnossIntegrate p {
    float: left;
}
/*Fin pie catálogo*/

.infoAboutCatalogo {
    width: 85%;
}

#perfilUsuarioGnoss #identidad #gnoss
{
	margin-top: -25px;	
}
.registrateYParticipaCatalogo {
    width: 15%;
}

#about .registrateYParticipaCatalogo h4 {
    display: none;
}

.gridView .resource .categorias,
.gridView .resource .etiquetas,
.gridView .resource .acciones,
.gridView .resource .utils-2
{display:block}


.listView .resource .noListView
{display:none}

.gridView .resource .noGridView
{display:none}


.a1cols div.gadgetPie
{	
	float:left;
	margin: 2em 0 1em 2em;
}

.a2cols div.gadgetPie
{
	width:47em;
	float:left;
	margin: 2em 0 1em 2em;
}

.a3cols div.gadgetPie
{
	width:31em;
	float:left;
	margin: 2em 0 1em 2em;
}

.a4cols div.gadgetPie
{
	width:22em;
	float:left;
	margin: 2em 0 1em 2em;
}

/* privados*/
/* .homeComunidad .resource-list .resourceType.privado span.privado {  
    right: 5px;
} */

.fichaComunidad .resourceType.privado span.privado {
    background: url("resources/spriteIcons.png?v=2.1.1880") no-repeat scroll -218px -215px transparent;
    bottom: 0px;
    height: 18px;
    left: auto;
    right: 4px;
    text-indent: -999em;
    top: auto;
    width: 18px;
}
/**/

.noUltVer img
{
	border-width: 0px;
	display: inline;
	vertical-align: middle;
}

.noUltVer p
{
	margin-left: 15px;
	display: inline;
	font-size: 1.6em;
}

/* Avisos administración */
#tools .aviso {
    background: none repeat scroll 0 0 orangeRed;
    color: #FFFFFF;
    font-family: Tahoma,Arial,sans;
    font-size: 9px;
    font-weight: bold;
    height: 9px;
    line-height: 9px;
    padding: 2px;
}

.homeCatalogo .categories ul.listadoFacetas li {
    padding: 0;
}

textarea.cke
{
	width: 98%;
	height: 100px; 
	border: 1px solid #DDDDDD; 
	padding: 2px 4px; 
}

.community-admins ul li img{width:52px;}
.politica-cer{margin-top:1em;}

.listadoCatalogo .gadgetPie .resource-list .wrapDescription{width:auto;}
.gadgetPie .article p.figure{float: left;font-size: 100%;margin-bottom: 1em;margin-right: 1em;width: 12em;}
.gadgetPie .article .item {margin-bottom:1em;}


/* Recursos al pie de comunidades catalogo */
.listadoCatalogo #aside .resource-list .resourceType
{
	display:block;
}

.listadoCatalogo #aside .resource-list .conImagenAsociada .resourceType
{
	display:none;
}

.listadoCatalogo #aside .resource-list .conImagenAsociada .resourceType.video {
    display: block;
}
/******************************************/

div.divSelecArchFormSem .pregunta{height:45px;}

#divPreguntaConfirmacionEventos, div.divSelecArchFormSem
{
	position:absolute;
	opacity:1;
	width:670px;
	left:145px;
}

#divPreguntaConfirmacionEventos input
{
	margin-left:10px;
	cursor:pointer;
}

div.desvincular p.cerrar a{display:none;}

div.noMemberInfo
{
	margin-top:10px;
}

div.addPass ul
{
	padding-left: 208px;
}

/****************AVISOS USUARIOS******************/
#capaModal .mascara {
    background: none repeat scroll 0 0 #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    opacity: 0.7;    
    z-index: 800;    
}

#capaModal .modalSup,
#capaModal .modalInf {
    height: 15px;
    width: 435px;
    position: absolute;
    top: -15px;
    left: 0;
    z-index: 900;
    background: url(../img/capaModalSup.gif) no-repeat 0 0;
}

#capaModal .modalInf {
    top: 100%;
    background-image: url(../img/capaModalInf.gif)
}

.notificacionInicio
{
	background: none repeat scroll 0 0 #F0F0F0;   
    max-height:710px;
    width: 335px;
    z-index: 1000;
    padding: 5px 50px;
    position: absolute;      
    left: 50%;
    margin-left: -218px;
    margin-top: 65px;     
    text-align: left;
    top: 0;    
}


/*NO MACHACAR DE AQUI PARA ABAJO LO DE FELIX VA ARRIBA*/

/*Búsqueda avanzada*/

div.messagetools #divMensajeInicioCont p {margin:10px 0 10px;}
div.identidadGNOSS ul#gnoss li a{color: #EEEEEE;}
div.identidadGNOSS ul#gnoss ul.listado li a{color: #3B75A1;}

div.summaryBio fieldset.mediumLabels p input.text {width:98%;}

div#divPreguntaConfirmacionEventos{display:block;}

.wrap710 .confirmar
{
	display:block;
}

.wrap710 .confirmar .mascara 
{
	background:#000000;
}

#col01 .resources .resource-list .sinFoto .description
{
	padding-left:0px;
}
	
#col01 .resources .resource-list .resource.conImagenAsociada .body {
    float: right;
    width: 160px;
}

#col01 .resources .resource-list .resource.conImagenAsociada.conMiniImagenMini .imagenAsociada {  
    width: 60px;
}

#col01 .resources .resource-list .resource.conImagenAsociada.conMiniImagenMini h3 {
    width: 220px;
}

#col01 .resources .resource-list .resource.conImagenAsociada.conMiniImagenMini .body {
    float: right;
    width: 220px;
}


/*
.homeComunidad .resource-list .resource .resourceType {height: 35px; width: 35px;}

.homeComunidad .resource .author{border:1px solid #eee; padding:2px; margin-top:-25px}
.homeComunidad .resource .publicacion{position:relative; top: 10px; right:5px}
.homeComunidad .resource.social-resource .publicacion{top: 0}
.homeComunidad .resource .publicacion strong{font-weight:normal}



.homePerfil .resource-list .resource .resourceType {height: 35px; width: 35px;}

.homePerfil .resource .author{border:1px solid #eee; padding:2px; margin-top:-25px}
.homePerfil .resource .publicacion{position:relative; top: 10px; right:5px}
.homePerfil .resource.social-resource .publicacion{top: 0}
.homePerfil .resource .publicacion strong{font-weight:normal}

.perfilUsuarioGnoss .otrasIdentidades li .identidadProfesor{line-height:inherit;}
*/

 
 #divSelCatLista input.findAction{
	background:url("resources/spriteIcons.png?v=2.1.1880") no-repeat scroll -115px -906px whiteSmoke;
	text-indent:-999em;
	cursor:pointer; 
	height:24px; 
	width:24px; 
	padding:0; 
	position:relative; 
	border:1px solid #ddd; 
	border-left-width:0;
	margin-left:-1px;
}

div.mapabusqueda{width:100%;height:600px;}

.listadoCatalogo div.fichaMapa .resource-list{min-height:0px;}
div.fichaMapa{overflow: hidden;}

.loginSimplificado #identidad,.loginSimplificado #header,.loginSimplificado #footer
{
	display:none;
}

.loginSimplificado #page
{
	width:600px;
}

.loginSimplificado #wrap #page #section #col02,.loginSimplificado #wrap #page #section #col02 .box01 
{
	width:580px;
}

.loginSimplificado #page #section 
{
	min-height:50px;
}


/*Listados*/
.listadoCompacto .resource {
    border-bottom: 1px solid #EEEEEE;
    height: 20px;
    padding-bottom: 5px;
    padding-top: 7px;
}

.listadoCompacto .resource .title {    
	float: left;
    width: 45%;
}

.listadoCompacto .resource .acciones {
    float: right;
    width: 55%;
}

.listadoCompacto .resource .acciones ul li {
    background: none repeat scroll 0 0 #FFF2D9;
    margin-right: 0.6em;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 2px 2px 2px 2px;
    padding: 4px 10px;
}

.listadoCompacto .resource .acciones ul li a {
    color: orange;
}

#col01 #layoutools 
{
	z-index: 9990;
}

.loginPersonalizado .registroRedesSociales
{
    display:none;
}

#divContPanGadgets .resources .resource-list  .categorias,
#divContPanGadgets .resources .resource-list  .etiquetas
{display:block;}

.enLinea
{display:inline !important;}


#listing-preview-map
{
    background-color:#FFFFFF;
    position:absolute;    
}

.css-class-to-highlight
{
       text-decoration: underline;
}
td.ui-datepicker-week-col
{
    cursor: pointer;
    cusor: hand;
}

div.ui-datepicker-title
{
    cursor: pointer;
    cusor: hand;
}
