.page-builder .builder-editor .botoneraXML {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.page-builder .builder-editor .botoneraXML .btn {
        height: 60px;
        width: 140px;
        border-radius: 30px;
        font-size: 1rem;
        font-weight: 500;
        justify-content: flex-start;
}

.builder-block {
    word-break: break-word;
}

.builder-block label {
    flex: 1;
}

.builder-block-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.cmscolumn-wrap {
    width: 100%;
    height: 100%;
}

.cmsrow-header{
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 20px;
}

.cmsrow-content .name{
    flex: 1;
}

.xmlcontent {
    list-style: none;
    width: 100%;
}

.xmlcontent .builder-item-wrap {
    display: flex;
    align-items: flex-start;
    min-height: 45px;
    padding: 7px 5px 7px 10px;
}

.xmlcontent .builder-item-wrap .material-icons{
    margin-right: 5px;
}

.xmlcontent .handler {
    cursor: grab;
}

.xmlcontent .builder-item:hover {
    background-color: rgb(0, 110, 255, 0.2);
}

.xmlcontent .builder-item {
    transition: background-color .5s;
}

.borrarpropiedad, .editarpropiedad, .lateral-collapse, .delete {
    cursor: pointer;
}

.valoractual {
    height: 40px;
    background: #EAECEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 10px;
}

.add-element {
    margin-top: 10px;
}

.formulario-new-element {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid var(--c-gris-borde);
    background-color: var(--c-gris-fondo);
    padding: 20px 25px;
}

.close-formulario {
    cursor: pointer;
    margin-left: auto;
}

table{
    margin-top: 20px;
}

.new-formulario-attribute {
    position: absolute;
    top: 0;
    right: 0;
}

.checkbox-label {
    padding-left: 5px;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px !important; 
}

.no-pertenece {
    background: rgba(255, 87, 87, 0.2);
}

.entidad-principal, .entidad-principal span.material-icons{
    color: var(--c-primario) !important;
}

.filtroRapido {
    position: relative;
    width: auto;
    margin: 10px;
    color: var(--c-texto-claro);
}

.descripcion-elemento {
    font-size: 0.9rem;
    color: #aaa;
}

table {
    table-layout: fixed;
}

th.th-representante {
    width: 25%;
}

th.th-numcaracteres {
    width: 20%;
}

th.th-acciones {
    width: 10%;
}

td {
    word-wrap: break-word;
}

.titulo-modal
{
    font-weight: bold;
}