@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="modal-comparar-componentes"
     class="modal modal-top fade modal-edicion modal-con-tabs modal-page"
     role="dialog"
     aria-modal="true">
     <div class="modal-dialog" role="document">
         <div id="modal-comparar-cms-content" class="modal-content">
         </div>
     </div>
</div>