@*
Descripción
-----------------------------------------------
Vista modal donde se solicita un nuevo password para el usuario de Matomo.

Variables
----------------------------------------------------------------
*@
@{

}
<div id="modal-change-matomo-password" class="modal modal-top fade modal-edicion" role="dialog" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @* Header del modal *@
            <div class="modal-header">
                <p class="modal-title">
                    <span class="material-icons">password</span>Reestablecer tu constraseña de Matomo
                </p>
                <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
            </div>
            <div class="modal-body">
                <div class="formulario-edicion no-min-height">
                    @* Descripción del modal *@
                    <p>
                        A continuación, escribe tu contraseña. Con la misma contraseña y usuario podrás acceder al panel de Matomo.
                    </p>

                    @* Input Nueva contraseña Matomo *@
                    <div class="form-group mb-3">
                        <label class="control-label d-block">Contraseña</label>
                        <input type="password" id="txtNewMatomoPassword" class="form-control not-outline" value="">
                        <small class="form-text text-muted">Contraseña actual, será la utilizada para acceder al panel de control de Matomo</small>
                    </div>

                    <div class="actionPanel mt-5">
                        <button id="btnCancelRestoreCurrentUser" class="btn btn-outline-primary uppercase" data-dismiss="modal">Cancelar</button>
                        <button id="btnRestoreMatomoUser" class="btn btn-primary uppercase">Reestablecer tu usuario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>