@*
Descripción
-----------------------------------------------
Vista modal donde se solicita un nuevo password para el usuario administrador de Matomo.

Variables
----------------------------------------------------------------
*@
@{

}
<div id="modal-change-matomo-admin-password" class="modal modal-top fade modal-edicion" role="dialog" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @* Header del modal *@
            <div class="modal-header">
                <p class="modal-title">
                    <span class="material-icons">password</span>Reestablecer contraseña Matomo
                </p>
                <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
            </div>
            <div class="modal-body">
                <div class="formulario-edicion no-min-height">
                    @* Descripción del modal *@
                    <p>
                        A continuación, escribe la contraseña que quieres establecer para el usuario administrador de matomo (Login: matomo).
                    </p>

                    @* Input Nueva contraseña Matomo *@
                    <div class="form-group mb-3">
                        <label class="control-label d-block">@Html.GetText("INICIO","CONTRASEÑA")</label>
                        <input type="password" id="txtNewMatomoAdminPassword" class="form-control not-outline" value="">
                        <small class="form-text text-muted">Contraseña para el usuario matomo, será la utilizada para acceder al panel de control de Matomo</small>
                    </div>

                    <div class="actionPanel mt-5">
                        <button id="btnCancelSetMatomoPassword" class="btn btn-outline-primary uppercase" data-dismiss="modal">Cancelar</button>
                        <button id="btnSetMatomoPassword" class="btn btn-primary uppercase">Reestablecer contraseña matomo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>