@using System.Text
@model FlujoViewModel

@{
    StringBuilder diagramaFlujo = new StringBuilder();
    diagramaFlujo.AppendLine("flowchart LR");
    StringBuilder seccionCallback = new StringBuilder();
    @foreach (EstadoViewModel estado in Model.Estados.OrderBy(e => e.TipoEstado).ThenBy(e => e.Nombre))
    {
        var resultadoPersonas = PintarPersonas(estado.ListaEstadoIdentidad);
        var resultadoGrupos = PintarGrupos(estado.ListaEstadoGrupo);
        string titulo = $"<h4 class='card-subtitle mb-2 text-muted'>{Html.GetText("USUARIOS", "EDITORES")}</h4>";
        StringBuilder sbResultado = new StringBuilder($"{titulo}<div class='mb-3'>{resultadoPersonas.Item1}{resultadoGrupos.Item1}</div>");

        if (!estado.Publico)
        {
            titulo = $"<h4 class='card-subtitle mb-2 text-muted'>{Html.GetText("USUARIOS", "LECTORES")}</h4>";
            sbResultado.Append($"{titulo}<div class='mb-3'>{resultadoPersonas.Item2}{resultadoGrupos.Item2}</div>");
        }
        seccionCallback.AppendLine($"click {estado.EstadoID} call handlePopOverNode(\"{estado.EstadoID}\",\"{sbResultado}\")");
    }

    StringBuilder seccionEstilos = new StringBuilder();
    StringBuilder seccionRelaciones = new StringBuilder();
    StringBuilder htmlResponsables = new StringBuilder();
    HashSet<Guid> estadosPintados = new HashSet<Guid>();
    foreach (var transicion in Model.Transiciones.OrderBy(t => t.EstadoOrigen.TipoEstado).ToList())
    {
        htmlResponsables.Append($"<div id='{transicion.TransicionID}'>" + PintarPersonasGruposTransicion(transicion.ListaNombreTransicionIdentidad, transicion.ListaNombreTransicionGrupo) + "</div>");
        Guid estadoOrigenID = transicion.EstadoOrigen.EstadoID;
        string nombreEstadoOrigen = Html.ObtenerTextoIdiomaUsuario(Model.Estados.Where(e => e.EstadoID.Equals(estadoOrigenID)).Select(e => e.Nombre).FirstOrDefault());
        Guid estadoDestinoID = transicion.EstadoDestino.EstadoID;
        string nombreEstadoDestino = Html.ObtenerTextoIdiomaUsuario(Model.Estados.Where(e => e.EstadoID.Equals(estadoDestinoID)).Select(e => e.Nombre).FirstOrDefault());
        string nombreTransicion = Html.ObtenerTextoDeIdioma(transicion.Nombre);

        if (!estadosPintados.Contains(estadoOrigenID))
        {
            estadosPintados.Add(estadoOrigenID);
            string colorOrigen = transicion.EstadoOrigen.Color;
            if (string.IsNullOrEmpty(colorOrigen))
            {
                colorOrigen = PintarColorSegunTipoEstado(transicion.EstadoOrigen.TipoEstado);
            }
            seccionEstilos.AppendLine($"style {estadoOrigenID} fill:{colorOrigen}");
        }
        if (!estadosPintados.Contains(estadoDestinoID))
        {
            estadosPintados.Add(estadoDestinoID);
            string colorDestino = transicion.EstadoDestino.Color;
            if (string.IsNullOrEmpty(colorDestino))
            {
                colorDestino = PintarColorSegunTipoEstado(transicion.EstadoDestino.TipoEstado);
            }
            seccionEstilos.AppendLine($"style {estadoDestinoID} fill:{colorDestino}");
        }

        string direccion = "-->";
        seccionRelaciones.AppendLine($"{estadoOrigenID}[\"{nombreEstadoOrigen}\"] {transicion.TransicionID}@{direccion} |{nombreTransicion}| {estadoDestinoID}[\"{nombreEstadoDestino}\"]");
    }
    diagramaFlujo.Append(seccionEstilos);
    diagramaFlujo.Append(seccionRelaciones);
    diagramaFlujo.Append(seccionCallback);
}

<div class="modal-header">
    <p class="modal-title">
        <span class="material-icons">edit</span>
        @Html.ObtenerTextoIdiomaUsuario(Model.Nombre)
    </p>
    <span class="material-icons cerrar" data-dismiss="modal" aria-label="Close">close</span>
</div>
<div class="modal-body">
    <div class="d-none mermaid-container p-5 text-center">
        @Html.Raw(diagramaFlujo.ToString())
    </div>
</div>
@functions {
    public string PintarPersonasGruposTransicion(Dictionary<Guid, string> pListaNombresIdentidad, Dictionary<Guid, string> pListaNombresGrupo)
    {
        StringBuilder sbResultado = new StringBuilder();
        sbResultado.Append($"<h4 class='card-subtitle mb-2 text-muted'>{Html.GetText("FLUJOS", "RESPONSABLES")}</h4>");
        sbResultado.Append("<div class='mb-3'>");
        foreach (Guid transicionIdentidadID in pListaNombresIdentidad.Keys)
        {
            sbResultado.Append(PintarTags(pListaNombresIdentidad[transicionIdentidadID], transicionIdentidadID, false));
        }

        foreach (Guid transicionGrupoID in pListaNombresGrupo.Keys)
        {
            sbResultado.Append(PintarTags(pListaNombresGrupo[transicionGrupoID], transicionGrupoID, true));
        }

        sbResultado.Append("</div>");
        return sbResultado.ToString();
    }
    public (string, string) PintarPersonas(List<EstadoIdentidadViewModel> pEstadoIdentidad)
    {
        StringBuilder htmlEditores = new StringBuilder();
        StringBuilder htmlLectores = new StringBuilder();
        foreach (EstadoIdentidadViewModel estadoIdentidad in pEstadoIdentidad)
        {
            if (estadoIdentidad.Editor)
            {
                htmlEditores.Append(PintarTags(estadoIdentidad.Nombre, estadoIdentidad.PerfilID, false));
            }
            else
            {
                htmlLectores.Append(PintarTags(estadoIdentidad.Nombre, estadoIdentidad.PerfilID, false));
            }
        }
        return (htmlEditores.ToString(), htmlLectores.ToString());
    }
    public (string, string) PintarGrupos(List<EstadoGrupoViewModel> pEstadoGrupo)
    {
        StringBuilder htmlEditores = new StringBuilder();
        StringBuilder htmlLectores = new StringBuilder();
        foreach (EstadoGrupoViewModel estadoGrupo in pEstadoGrupo)
        {
            if (estadoGrupo.Editor)
            {
                htmlEditores.Append(PintarTags(estadoGrupo.Nombre, estadoGrupo.GrupoID, true));
            }
            else
            {
                htmlLectores.Append(PintarTags(estadoGrupo.Nombre, estadoGrupo.GrupoID, true));
            }
        }
        return (htmlEditores.ToString(), htmlLectores.ToString());
    }
    public string PintarTags(string pNombre, Guid pIdentidadID, bool pGrupo)
    {
        string resultado = "";
        string grupo = pGrupo ? $"[{Html.GetText("CONTACTOS", "GRUPO")}]" : "";
        resultado += $"<span class='list-group-item' data-grupo='{pGrupo}' data-id='{pIdentidadID}'>{pNombre} {grupo}</span>";
        return resultado;
    }
    public string PintarColorSegunTipoEstado(TipoEstado pTipoEstado)
    {
        if (pTipoEstado == TipoEstado.Inicial)
        {
            return "#80C8F7";
        }

        return pTipoEstado == TipoEstado.Intermedio ? "#FFB74D" : "#94c748";
    }
}

<script type="text/javascript">
    (function ($) {
        operativaGestionFlujos.transitionsResponsiblesHTML = "@Html.Raw(htmlResponsables)"
    })();

</script>
