@model string

@{	
    string valueLanguage = Model.Substring(3);
}

<li class="component-wrap custom-language-row" data-language="@Model">
    <div class="component">
        <div class="component-header-wrap">
            <div class="component-header">
                <div class="component-header-content">
                    <div class="component-header-left">
                        <div class="component-name-wrap">
                            <span class="component-customLanguageName">@valueLanguage</span>
                        </div>
                    </div>
                    <div class="component-header-right">
                        <div class="component-actions-wrap">
                            <ul class="no-list-style component-actions">
                                <li>
                                    <a
                                        class="action-edit round-icon-button js-action-edit-component btnEditCustomLanguageRow collapsed"
                                        data-toggle="modal"
                                        data-target="#modal-add-language"
                                        role="button"
                                        aria-expanded="false"
                                    >
                                    <span class="material-icons">edit</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        class="action-delete round-icon-button js-action-delete btnDeleteCustomLanguage"
                                        href="javascript: void(0);"
                                    >
                                    <span class="material-icons">delete</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
