@model List<FacetaModel.FiltrosFacetas>

@*
Descripción
-----------------------------------------------
Vista parcial donde se pueden crear filtros asociados a una faceta.

Variables
----------------------------------------------------------------
*@

@{	
// Id para los checkbox de tipo de visualización
string filterId = @Guid.NewGuid().ToString().Substring(0,5);
}


<div class="form-group mb-4 editarFiltroFaceta">		

	<div class="filtrosFaceta-header d-flex justify-content-between align-items-center">
	<label class="control-label d-block font-weight-bold" style="font-size:14px;">@Html.GetText("DEVTOOLS","FILTROSDELAFACETA")</label>
		@* Botón para añadir nuevos Filtros de Orden *@
		<a href="javascript: void(0);" class="linkAddFiltroFaceta btn btn-outline-primary new" style="display: flex; text-decoration: none;">
			<span class="material-icons">add</span>
			<span class="texto">@Html.GetText("DEVTOOLS","CREARFILTRO")</span>
		</a>
	</div>

	@* Listado de los filtros *@
	<ul class="id-added-faceta-filter-list component-list no-list-style mt-3">
		@if (Model != null)
		{
			@foreach (FacetaModel.FiltrosFacetas filtro in Model)
			{            
				@Html.PartialView("_FichaFiltro", filtro)        
			}	
		}
	</ul>
</div>
