@model string
@{
    Layout = "~/Views/Shared/Layout/_Layout_Admin.cshtml";
}
<div class="formulario-edicion background-blanco">
    <div class="alert alert-warning">
        <span class="material-icons" alt="warning" title="warning" aria-label="warning">
            warning
        </span>
        <strong>@Model</strong>
    </div>
</div>