@*
Descripción
-----------------------------------------------
Vista modal para confirmar la eliminación de un gráfico.

Variables
----------------------------------------------------------------
*@

<div
	id="modal-delete-graph"
	class="modal modal-top fade modal-confirmDelete"           
	role="dialog"	
	aria-modal="true">

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			@* Modal para controlar el borrado del grafico *@
			<div class="modal-header">
				@* Título del Modal *@
				<p class="modal-title">
					<span class="material-icons">delete</span>
					@Html.GetText("COMMON","ELIMINAR")
				</p>
				@* Cierre del Modal *@
				<span class="material-icons cerrar"
					  data-dismiss="modal"
					  aria-label="Close">close</span>
			</div>
			<div class="modal-body">				
				<div class="form-group">
					<label class="control-label">
						¿Deseas eliminar el gráfico seleccionado?
					</label>
				</div>
				<div class="form-actions">
					<button data-dismiss="modal" class="btn btn-outline-primary btnNotConfirmDeleteGraph">@Html.GetText("COMMON", "NO")</button>
					<button class="btn btn-primary btnConfirmDeleteGraph">@Html.GetText("COMMON", "SI")</button>
				</div>				
			</div>
		</div>
	</div>
</div>